Repository replicatedhq/kURL, pull requests merged in 2023-09, with the labels that each got.

#4796 chore: adding test for hostpreflight installer merge
  testgrid/specs/full.yaml
Labels: type::chore

#4795 Automated Rook version update 1.12.3
  addons/rook/1.12.3/Manifest
  addons/rook/1.12.3/cluster/cephfs/cephfs-storageclass.yaml
  addons/rook/1.12.3/cluster/cephfs/filesystem.yaml
  addons/rook/1.12.3/cluster/cephfs/patches/cephfs-storageclass.yaml
  addons/rook/1.12.3/cluster/cephfs/patches/filesystem-singlenode.yaml
  addons/rook/1.12.3/cluster/cephfs/patches/tmpl-filesystem-Json6902.yaml
  addons/rook/1.12.3/cluster/cephfs/patches/tmpl-filesystem.yaml
  addons/rook/1.12.3/cluster/cluster.yaml
  addons/rook/1.12.3/cluster/kustomization.yaml
  addons/rook/1.12.3/cluster/object-user.yaml
  addons/rook/1.12.3/cluster/object.yaml
  addons/rook/1.12.3/cluster/patches/ceph-cluster-tolerate.yaml
  addons/rook/1.12.3/cluster/patches/cluster-nodes.tmpl.yaml
  addons/rook/1.12.3/cluster/patches/object-Json6902.yaml
  addons/rook/1.12.3/cluster/patches/tmpl-cluster.yaml
  addons/rook/1.12.3/cluster/patches/tmpl-object.yaml
  addons/rook/1.12.3/cluster/patches/tmpl-rbd-storageclass.yaml
  addons/rook/1.12.3/cluster/tmpl-rbd-storageclass.yaml
  addons/rook/1.12.3/crds.yaml
  addons/rook/1.12.3/host-preflight.yaml
  addons/rook/1.12.3/install.sh
  addons/rook/1.12.3/monitoring/ceph-cluster-dashboard.yaml
  addons/rook/1.12.3/monitoring/kustomization.yaml
  addons/rook/1.12.3/monitoring/rook-ceph-servicemonitor.yaml
  addons/rook/1.12.3/operator/cluster-rbac.yaml
  addons/rook/1.12.3/operator/clusterrole.yaml
  addons/rook/1.12.3/operator/clusterrolebinding.yaml
  addons/rook/1.12.3/operator/configmap-rook-config-override.yaml
  addons/rook/1.12.3/operator/configmap.yaml
  addons/rook/1.12.3/operator/deployment.yaml
  addons/rook/1.12.3/operator/kustomization.yaml
  addons/rook/1.12.3/operator/namespace.yaml
  addons/rook/1.12.3/operator/patches/deployment-privileged.yaml
  addons/rook/1.12.3/operator/patches/deployment-tolerations.yaml
  addons/rook/1.12.3/operator/role.yaml
  addons/rook/1.12.3/operator/rolebinding.yaml
  addons/rook/1.12.3/operator/securityContextConstraints.yaml
  addons/rook/1.12.3/operator/serviceaccount.yaml
  addons/rook/1.12.3/operator/toolbox.yaml
  hack/testdata/manifest/clean
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, rook, type::chore, kurl::type::feature

#4806 Automated Velero version update 1.11.1
  addons/velero/1.11.1/install.sh
Labels: automated-pr, velero, type::chore, kurl::type::feature

#4807 deduplicate tests run by testgrid, and reduce CPU usage to allow velero to start
  testgrid/specs/full.yaml
Labels: type::chore

#4774 Automated Prometheus version update 0.67.1-50.3.1
  addons/prometheus/0.67.1-50.3.1/Manifest
  addons/prometheus/0.67.1-50.3.1/crds/crds.yaml
  addons/prometheus/0.67.1-50.3.1/crds/kustomization.yaml
  addons/prometheus/0.67.1-50.3.1/crds/preserveUnknown.yaml
  addons/prometheus/0.67.1-50.3.1/host-preflight.yaml
  addons/prometheus/0.67.1-50.3.1/install.sh
  addons/prometheus/0.67.1-50.3.1/nodeport-services.yaml
  addons/prometheus/0.67.1-50.3.1/operator/adapter.yaml
  addons/prometheus/0.67.1-50.3.1/operator/default.yaml
  addons/prometheus/0.67.1-50.3.1/operator/kustomization.yaml
  addons/prometheus/0.67.1-50.3.1/operator/longhorn.yaml
  addons/prometheus/0.67.1-50.3.1/operator/matchlabel-instance.yaml
  addons/prometheus/0.67.1-50.3.1/operator/matchlabel-release.yaml
  addons/prometheus/0.67.1-50.3.1/operator/ns.yaml
  addons/prometheus/0.67.1-50.3.1/operator/rook-ceph-rolebindings.yaml
  addons/prometheus/0.67.1-50.3.1/tmpl-grafana-secret.yaml
  web/src/installers/versions.js
Labels: automated-pr, prometheus, type::chore, kurl::type::feature

#4790 Automated MinIO version update RELEASE.2023-09-04T19-57-37Z
  addons/minio/2023-09-04T19-57-37Z/Manifest
  addons/minio/2023-09-04T19-57-37Z/deployment.yaml
  addons/minio/2023-09-04T19-57-37Z/install.sh
  addons/minio/2023-09-04T19-57-37Z/migrate-fs/hostpath/deployment.yaml
  addons/minio/2023-09-04T19-57-37Z/migrate-fs/hostpath/kustomization.yaml
  addons/minio/2023-09-04T19-57-37Z/migrate-fs/hostpath/original-service.yaml
  addons/minio/2023-09-04T19-57-37Z/migrate-fs/hostpath/service.yaml
  addons/minio/2023-09-04T19-57-37Z/migrate-fs/minio-backup-pvc.yaml
  addons/minio/2023-09-04T19-57-37Z/migrate-fs/minio-pvc.yaml
  addons/minio/2023-09-04T19-57-37Z/migrate-fs/pvc/deployment.yaml
  addons/minio/2023-09-04T19-57-37Z/migrate-fs/pvc/kustomization.yaml
  addons/minio/2023-09-04T19-57-37Z/migrate-fs/pvc/original-service.yaml
  addons/minio/2023-09-04T19-57-37Z/migrate-fs/pvc/pvc.yaml
  addons/minio/2023-09-04T19-57-37Z/migrate-fs/pvc/service.yaml
  addons/minio/2023-09-04T19-57-37Z/service.yaml
  addons/minio/2023-09-04T19-57-37Z/tmpl-creds-secret.yaml
  addons/minio/2023-09-04T19-57-37Z/tmpl-deployment-hostpath.yaml
  addons/minio/2023-09-04T19-57-37Z/tmpl-deployment-pvc.yaml
  addons/minio/2023-09-04T19-57-37Z/tmpl-ha-statefulset.yaml
  addons/minio/2023-09-04T19-57-37Z/tmpl-kustomization.yaml
  addons/minio/2023-09-04T19-57-37Z/tmpl-namespace.yaml
  addons/minio/2023-09-04T19-57-37Z/tmpl-pvc.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, minio, kurl::type::feature

#4808 velero should never use the disable s3 codepath without RWX volumes
  addons/velero/1.11.1/install.sh
  addons/velero/template/base/install.tmpl.sh
  addons/velero/template/testgrid/k8s-docker.yaml
Labels: type::bug, bug::normal

#4812 fix daily containerd-rook-block test
  testgrid/specs/full.yaml
Labels: type::chore

#4815 Bump pvmigrate from v0.9.1 to v0.10.0
  go.mod
  go.sum
Labels: type::chore

#4816 all docker-on-rhel-8 installs should receive an 'unsupported' warning
  scripts/common/docker.sh
Labels: type::chore

#4813 Automated EKCO version update 0.28.3
  addons/ekco/0.28.3/Manifest
  addons/ekco/0.28.3/install.sh
Labels: automated-pr, type::chore, ekco, kurl::type::feature

#4820 Automated Prometheus version update 0.68.0-51.0.0
  addons/prometheus/0.68.0-51.0.0/Manifest
  addons/prometheus/0.68.0-51.0.0/crds/crds.yaml
  addons/prometheus/0.68.0-51.0.0/crds/kustomization.yaml
  addons/prometheus/0.68.0-51.0.0/crds/preserveUnknown.yaml
  addons/prometheus/0.68.0-51.0.0/host-preflight.yaml
  addons/prometheus/0.68.0-51.0.0/install.sh
  addons/prometheus/0.68.0-51.0.0/nodeport-services.yaml
  addons/prometheus/0.68.0-51.0.0/operator/adapter.yaml
  addons/prometheus/0.68.0-51.0.0/operator/default.yaml
  addons/prometheus/0.68.0-51.0.0/operator/kustomization.yaml
  addons/prometheus/0.68.0-51.0.0/operator/longhorn.yaml
  addons/prometheus/0.68.0-51.0.0/operator/matchlabel-instance.yaml
  addons/prometheus/0.68.0-51.0.0/operator/matchlabel-release.yaml
  addons/prometheus/0.68.0-51.0.0/operator/ns.yaml
  addons/prometheus/0.68.0-51.0.0/operator/rook-ceph-rolebindings.yaml
  addons/prometheus/0.68.0-51.0.0/tmpl-grafana-secret.yaml
  web/src/installers/versions.js
Labels: automated-pr, prometheus, type::chore, kurl::type::feature

#4822 Automated Kubernetes version update 1.28.2 1.27.6 1.26.9 1.25.14 1.24.17 1.23.17 1.22.17
  hack/testdata/manifest/clean
  packages/kubernetes/1.25.14/Manifest
  packages/kubernetes/1.25.14/conformance/Manifest
  packages/kubernetes/1.26.9/Manifest
  packages/kubernetes/1.26.9/conformance/Manifest
  packages/kubernetes/1.27.6/Manifest
  packages/kubernetes/1.27.6/conformance/Manifest
  packages/kubernetes/1.28.2/Manifest
  packages/kubernetes/1.28.2/conformance/Manifest
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, kubernetes, type::chore, kurl::type::feature

#4823 Automated Rook version update 1.12.4
  addons/rook/1.12.4/Manifest
  addons/rook/1.12.4/cluster/cephfs/cephfs-storageclass.yaml
  addons/rook/1.12.4/cluster/cephfs/filesystem.yaml
  addons/rook/1.12.4/cluster/cephfs/patches/cephfs-storageclass.yaml
  addons/rook/1.12.4/cluster/cephfs/patches/filesystem-singlenode.yaml
  addons/rook/1.12.4/cluster/cephfs/patches/tmpl-filesystem-Json6902.yaml
  addons/rook/1.12.4/cluster/cephfs/patches/tmpl-filesystem.yaml
  addons/rook/1.12.4/cluster/cluster.yaml
  addons/rook/1.12.4/cluster/kustomization.yaml
  addons/rook/1.12.4/cluster/object-user.yaml
  addons/rook/1.12.4/cluster/object.yaml
  addons/rook/1.12.4/cluster/patches/ceph-cluster-tolerate.yaml
  addons/rook/1.12.4/cluster/patches/cluster-nodes.tmpl.yaml
  addons/rook/1.12.4/cluster/patches/object-Json6902.yaml
  addons/rook/1.12.4/cluster/patches/tmpl-cluster.yaml
  addons/rook/1.12.4/cluster/patches/tmpl-object.yaml
  addons/rook/1.12.4/cluster/patches/tmpl-rbd-storageclass.yaml
  addons/rook/1.12.4/cluster/tmpl-rbd-storageclass.yaml
  addons/rook/1.12.4/crds.yaml
  addons/rook/1.12.4/host-preflight.yaml
  addons/rook/1.12.4/install.sh
  addons/rook/1.12.4/monitoring/ceph-cluster-dashboard.yaml
  addons/rook/1.12.4/monitoring/kustomization.yaml
  addons/rook/1.12.4/monitoring/rook-ceph-servicemonitor.yaml
  addons/rook/1.12.4/operator/cluster-rbac.yaml
  addons/rook/1.12.4/operator/clusterrole.yaml
  addons/rook/1.12.4/operator/clusterrolebinding.yaml
  addons/rook/1.12.4/operator/configmap-rook-config-override.yaml
  addons/rook/1.12.4/operator/configmap.yaml
  addons/rook/1.12.4/operator/deployment.yaml
  addons/rook/1.12.4/operator/kustomization.yaml
  addons/rook/1.12.4/operator/namespace.yaml
  addons/rook/1.12.4/operator/patches/deployment-privileged.yaml
  addons/rook/1.12.4/operator/patches/deployment-tolerations.yaml
  addons/rook/1.12.4/operator/role.yaml
  addons/rook/1.12.4/operator/rolebinding.yaml
  addons/rook/1.12.4/operator/securityContextConstraints.yaml
  addons/rook/1.12.4/operator/serviceaccount.yaml
  addons/rook/1.12.4/operator/toolbox.yaml
  hack/testdata/manifest/clean
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, rook, type::chore, kurl::type::feature

#4833 update indirect dependency github.com/hashicorp/vault to v1.13.7
  go.mod
  go.sum
Labels: go, type::chore

#4834 Automated Flannel version update 0.22.3
  addons/flannel/0.22.3/Manifest
  addons/flannel/0.22.3/host-preflight.yaml
  addons/flannel/0.22.3/install.sh
  addons/flannel/0.22.3/kubeadm.yaml
  addons/flannel/0.22.3/template/iface.patch.tmpl.yaml
  addons/flannel/0.22.3/template/ipv6.patch.tmpl.yaml
  addons/flannel/0.22.3/template/kube-flannel-cfg.patch.tmpl.yaml
  addons/flannel/0.22.3/yaml/kube-flannel.yml
  addons/flannel/0.22.3/yaml/kustomization.yaml
  addons/flannel/0.22.3/yaml/troubleshoot.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, kurl::type::feature, flannel

#4835 Automated Containerd version update 1.6.24
  addons/containerd/1.6.24/Manifest
  addons/containerd/1.6.24/crictl.yaml
  addons/containerd/1.6.24/host-preflight.yaml
  addons/containerd/1.6.24/install.sh
  addons/containerd/1.6.24/kubeadm-init-config-v1beta2.yaml
  addons/containerd/1.6.24/kubeadm-join-config-v1beta2.yaml
  hack/testdata/manifest/clean
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, containerd, type::chore, kurl::type::feature

#4836 bug: weave to flannel migration wrong task command flag
  addons/flannel/0.20.0/install.sh
  addons/flannel/0.20.1/install.sh
  addons/flannel/0.20.2/install.sh
  addons/flannel/0.21.0/install.sh
  addons/flannel/0.21.1/install.sh
  addons/flannel/0.21.2/install.sh
  addons/flannel/0.21.3/install.sh
  addons/flannel/0.21.4/install.sh
  addons/flannel/0.21.5/install.sh
  addons/flannel/0.22.0/install.sh
  addons/flannel/0.22.1/install.sh
  addons/flannel/0.22.2/install.sh
  addons/flannel/0.22.3/install.sh
  addons/flannel/template/base/install.sh
Labels: type::bug, bug::normal

#4844 supply 'yes' flag to remote node commands
  scripts/common/addon.sh
  scripts/common/upgrade.sh
Labels: type::chore

#4814 Automated MinIO version update RELEASE.2023-09-23T03-47-50Z
  addons/minio/2023-09-23T03-47-50Z/Manifest
  addons/minio/2023-09-23T03-47-50Z/deployment.yaml
  addons/minio/2023-09-23T03-47-50Z/install.sh
  addons/minio/2023-09-23T03-47-50Z/migrate-fs/hostpath/deployment.yaml
  addons/minio/2023-09-23T03-47-50Z/migrate-fs/hostpath/kustomization.yaml
  addons/minio/2023-09-23T03-47-50Z/migrate-fs/hostpath/original-service.yaml
  addons/minio/2023-09-23T03-47-50Z/migrate-fs/hostpath/service.yaml
  addons/minio/2023-09-23T03-47-50Z/migrate-fs/minio-backup-pvc.yaml
  addons/minio/2023-09-23T03-47-50Z/migrate-fs/minio-pvc.yaml
  addons/minio/2023-09-23T03-47-50Z/migrate-fs/pvc/deployment.yaml
  addons/minio/2023-09-23T03-47-50Z/migrate-fs/pvc/kustomization.yaml
  addons/minio/2023-09-23T03-47-50Z/migrate-fs/pvc/original-service.yaml
  addons/minio/2023-09-23T03-47-50Z/migrate-fs/pvc/pvc.yaml
  addons/minio/2023-09-23T03-47-50Z/migrate-fs/pvc/service.yaml
  addons/minio/2023-09-23T03-47-50Z/service.yaml
  addons/minio/2023-09-23T03-47-50Z/tmpl-creds-secret.yaml
  addons/minio/2023-09-23T03-47-50Z/tmpl-deployment-hostpath.yaml
  addons/minio/2023-09-23T03-47-50Z/tmpl-deployment-pvc.yaml
  addons/minio/2023-09-23T03-47-50Z/tmpl-ha-statefulset.yaml
  addons/minio/2023-09-23T03-47-50Z/tmpl-kustomization.yaml
  addons/minio/2023-09-23T03-47-50Z/tmpl-namespace.yaml
  addons/minio/2023-09-23T03-47-50Z/tmpl-pvc.yaml
  addons/minio/template/testgrid/k8s-docker.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, minio, kurl::type::feature

#4845 print the kurl pods, and list the unhealthy ones, when failing the ns preflight
  scripts/common/common.sh
  scripts/common/preflights.sh
Labels: type::chore

#4846 bug: completed should be considered an ok state
  scripts/common/common.sh
Labels: type::bug, bug::normal

#4848 use k8s 1.27 style patches based on current k8s version not target version
  scripts/common/yaml.sh
Labels: type::bug, bug::normal

#4809 Automated OpenEBS version update 3.9.0
  addons/openebs/3.9.0/Manifest
  addons/openebs/3.9.0/install.sh
  addons/openebs/3.9.0/spec/crds/crds.yaml
  addons/openebs/3.9.0/spec/crds/kustomization.yaml
  addons/openebs/3.9.0/spec/openebs.tmpl.yaml
  addons/openebs/3.9.0/spec/storage/kustomization.yaml
  addons/openebs/3.9.0/spec/storage/tmpl-localpv-storage-class.yaml
  addons/openebs/3.9.0/spec/storage/tmpl-patch-localpv-default.yaml
  addons/openebs/3.9.0/spec/tmpl-kustomization.yaml
  addons/openebs/3.9.0/spec/tmpl-namespace.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, openebs, kurl::type::feature, auto-merge
