Repository replicatedhq/kURL, pull requests merged in 2023-12, with the labels that each got.

#4940 Automated Prometheus version update 0.70.0-55.0.0
  addons/prometheus/0.70.0-55.0.0/Manifest
  addons/prometheus/0.70.0-55.0.0/crds/crds.yaml
  addons/prometheus/0.70.0-55.0.0/crds/kustomization.yaml
  addons/prometheus/0.70.0-55.0.0/crds/preserveUnknown.yaml
  addons/prometheus/0.70.0-55.0.0/host-preflight.yaml
  addons/prometheus/0.70.0-55.0.0/install.sh
  addons/prometheus/0.70.0-55.0.0/nodeport-services.yaml
  addons/prometheus/0.70.0-55.0.0/operator/adapter.yaml
  addons/prometheus/0.70.0-55.0.0/operator/default.yaml
  addons/prometheus/0.70.0-55.0.0/operator/kustomization.yaml
  addons/prometheus/0.70.0-55.0.0/operator/longhorn.yaml
  addons/prometheus/0.70.0-55.0.0/operator/matchlabel-instance.yaml
  addons/prometheus/0.70.0-55.0.0/operator/matchlabel-release.yaml
  addons/prometheus/0.70.0-55.0.0/operator/ns.yaml
  addons/prometheus/0.70.0-55.0.0/operator/rook-ceph-rolebindings.yaml
  addons/prometheus/0.70.0-55.0.0/tmpl-grafana-secret.yaml
  web/src/installers/versions.js
Labels: automated-pr, prometheus, type::chore, kurl::type::feature

#4956 attempt overriding containerd pause image on containerd side
  addons/containerd/1.6.24/install.sh
  addons/containerd/template/base/install.sh
  addons/containerd/template/testgrid/k8s-ctrd.yaml
Labels: type::bug, bug::normal

#4967 Automated Containerd version update 1.6.25
  addons/containerd/1.5.10/install.sh
  addons/containerd/1.5.11/install.sh
  addons/containerd/1.6.10/install.sh
  addons/containerd/1.6.11/install.sh
  addons/containerd/1.6.12/install.sh
  addons/containerd/1.6.13/install.sh
  addons/containerd/1.6.14/install.sh
  addons/containerd/1.6.15/install.sh
  addons/containerd/1.6.16/install.sh
  addons/containerd/1.6.18/install.sh
  addons/containerd/1.6.19/install.sh
  addons/containerd/1.6.20/install.sh
  addons/containerd/1.6.21/install.sh
  addons/containerd/1.6.22/install.sh
  addons/containerd/1.6.24/install.sh
  addons/containerd/1.6.25/install.sh
  addons/containerd/1.6.4/install.sh
  addons/containerd/1.6.6/install.sh
  addons/containerd/1.6.7/install.sh
  addons/containerd/1.6.8/install.sh
  addons/containerd/1.6.9/install.sh
Labels: automated-pr, containerd, type::chore, kurl::type::feature

#4955 Automated MinIO version update RELEASE.2023-12-02T10-51-33Z
  addons/minio/2023-12-02T10-51-33Z/Manifest
  addons/minio/2023-12-02T10-51-33Z/deployment.yaml
  addons/minio/2023-12-02T10-51-33Z/install.sh
  addons/minio/2023-12-02T10-51-33Z/migrate-fs/hostpath/deployment.yaml
  addons/minio/2023-12-02T10-51-33Z/migrate-fs/hostpath/kustomization.yaml
  addons/minio/2023-12-02T10-51-33Z/migrate-fs/hostpath/original-service.yaml
  addons/minio/2023-12-02T10-51-33Z/migrate-fs/hostpath/service.yaml
  addons/minio/2023-12-02T10-51-33Z/migrate-fs/minio-backup-pvc.yaml
  addons/minio/2023-12-02T10-51-33Z/migrate-fs/minio-pvc.yaml
  addons/minio/2023-12-02T10-51-33Z/migrate-fs/pvc/deployment.yaml
  addons/minio/2023-12-02T10-51-33Z/migrate-fs/pvc/kustomization.yaml
  addons/minio/2023-12-02T10-51-33Z/migrate-fs/pvc/original-service.yaml
  addons/minio/2023-12-02T10-51-33Z/migrate-fs/pvc/pvc.yaml
  addons/minio/2023-12-02T10-51-33Z/migrate-fs/pvc/service.yaml
  addons/minio/2023-12-02T10-51-33Z/service.yaml
  addons/minio/2023-12-02T10-51-33Z/tmpl-creds-secret.yaml
  addons/minio/2023-12-02T10-51-33Z/tmpl-deployment-hostpath.yaml
  addons/minio/2023-12-02T10-51-33Z/tmpl-deployment-pvc.yaml
  addons/minio/2023-12-02T10-51-33Z/tmpl-ha-statefulset.yaml
  addons/minio/2023-12-02T10-51-33Z/tmpl-kustomization.yaml
  addons/minio/2023-12-02T10-51-33Z/tmpl-namespace.yaml
  addons/minio/2023-12-02T10-51-33Z/tmpl-pvc.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, minio, kurl::type::feature

#4968 Automated EKCO version update 0.28.3
  addons/ekco/0.28.3/Manifest
  addons/ekco/0.28.3/install.sh
Labels: automated-pr, type::chore, ekco, kurl::type::feature

#4979 Automated Containerd version update 1.6.26
  addons/containerd/1.6.26/Manifest
  addons/containerd/1.6.26/crictl.yaml
  addons/containerd/1.6.26/host-preflight.yaml
  addons/containerd/1.6.26/install.sh
  addons/containerd/1.6.26/kubeadm-init-config-v1beta2.yaml
  addons/containerd/1.6.26/kubeadm-join-config-v1beta2.yaml
  hack/testdata/manifest/clean
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, containerd, type::chore, kurl::type::feature

#4981 load the kubernetes pause image when installing containerd
  addons/containerd/1.6.25/install.sh
  addons/containerd/template/base/install.sh
  addons/containerd/template/testgrid/k8s-ctrd.yaml
Labels: type::bug, bug::normal

#4969 Automated MinIO version update RELEASE.2023-12-09T18-17-51Z
  addons/minio/2023-12-09T18-17-51Z/Manifest
  addons/minio/2023-12-09T18-17-51Z/deployment.yaml
  addons/minio/2023-12-09T18-17-51Z/install.sh
  addons/minio/2023-12-09T18-17-51Z/migrate-fs/hostpath/deployment.yaml
  addons/minio/2023-12-09T18-17-51Z/migrate-fs/hostpath/kustomization.yaml
  addons/minio/2023-12-09T18-17-51Z/migrate-fs/hostpath/original-service.yaml
  addons/minio/2023-12-09T18-17-51Z/migrate-fs/hostpath/service.yaml
  addons/minio/2023-12-09T18-17-51Z/migrate-fs/minio-backup-pvc.yaml
  addons/minio/2023-12-09T18-17-51Z/migrate-fs/minio-pvc.yaml
  addons/minio/2023-12-09T18-17-51Z/migrate-fs/pvc/deployment.yaml
  addons/minio/2023-12-09T18-17-51Z/migrate-fs/pvc/kustomization.yaml
  addons/minio/2023-12-09T18-17-51Z/migrate-fs/pvc/original-service.yaml
  addons/minio/2023-12-09T18-17-51Z/migrate-fs/pvc/pvc.yaml
  addons/minio/2023-12-09T18-17-51Z/migrate-fs/pvc/service.yaml
  addons/minio/2023-12-09T18-17-51Z/service.yaml
  addons/minio/2023-12-09T18-17-51Z/tmpl-creds-secret.yaml
  addons/minio/2023-12-09T18-17-51Z/tmpl-deployment-hostpath.yaml
  addons/minio/2023-12-09T18-17-51Z/tmpl-deployment-pvc.yaml
  addons/minio/2023-12-09T18-17-51Z/tmpl-ha-statefulset.yaml
  addons/minio/2023-12-09T18-17-51Z/tmpl-kustomization.yaml
  addons/minio/2023-12-09T18-17-51Z/tmpl-namespace.yaml
  addons/minio/2023-12-09T18-17-51Z/tmpl-pvc.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, minio, kurl::type::feature

#4983 Automated EKCO version update 0.28.3
  addons/ekco/0.28.3/Manifest
  addons/ekco/0.28.3/install.sh
Labels: automated-pr, type::chore, ekco, kurl::type::feature

#4984 Automated Containerd version update 1.6.26
  addons/containerd/1.5.10/install.sh
  addons/containerd/1.5.11/install.sh
  addons/containerd/1.6.10/install.sh
  addons/containerd/1.6.11/install.sh
  addons/containerd/1.6.12/install.sh
  addons/containerd/1.6.13/install.sh
  addons/containerd/1.6.14/install.sh
  addons/containerd/1.6.15/install.sh
  addons/containerd/1.6.16/install.sh
  addons/containerd/1.6.18/install.sh
  addons/containerd/1.6.19/install.sh
  addons/containerd/1.6.20/install.sh
  addons/containerd/1.6.21/install.sh
  addons/containerd/1.6.22/install.sh
  addons/containerd/1.6.24/install.sh
  addons/containerd/1.6.26/install.sh
  addons/containerd/1.6.4/install.sh
  addons/containerd/1.6.6/install.sh
  addons/containerd/1.6.7/install.sh
  addons/containerd/1.6.8/install.sh
  addons/containerd/1.6.9/install.sh
Labels: automated-pr, containerd, type::chore, kurl::type::feature

#4987 Automated Velero version update 1.12.2
  addons/velero/1.12.2/Manifest
  addons/velero/1.12.2/install.sh
Labels: automated-pr, velero, type::chore, kurl::type::feature

#4986 generate 1.29 versions, test with 1.29 versions
  addons/cert-manager/template/testgrid/k8s-docker.yaml
  addons/containerd/template/testgrid/k8s-ctrd.yaml
  addons/prometheus/template/testgrid/k8s-docker.yaml
  packages/kubernetes/template/Dockerfile
  packages/kubernetes/template/Dockerfile.126
  packages/kubernetes/template/Dockerfile.127
  packages/kubernetes/template/Dockerfile.128
  packages/kubernetes/template/Dockerfile.129
  packages/kubernetes/template/script.sh
  testgrid/specs/deploy.yaml
  testgrid/specs/full.yaml
  testgrid/specs/k8s-upgrade.yaml
  web/src/installers/versions.js
Labels: type::chore

#4989 Automated Kubernetes version update 1.29.0 1.28.4 1.27.8 1.26.11
  hack/testdata/manifest/clean
  packages/kubernetes/1.26.11/Manifest
  packages/kubernetes/1.26.11/conformance/Manifest
  packages/kubernetes/1.27.8/Manifest
  packages/kubernetes/1.27.8/conformance/Manifest
  packages/kubernetes/1.28.4/Manifest
  packages/kubernetes/1.28.4/conformance/Manifest
  packages/kubernetes/1.29.0/Manifest
  packages/kubernetes/1.29.0/conformance/Manifest
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, kubernetes, type::chore, kurl::type::feature

#4990 batch 4 addons per build to stay under 256 total builds
  bin/list-all-packages-actions-matrix.sh
Labels: type::chore

#4991 enable building new kubernetes
  Makefile
  bin/upload-dist-staging.sh
  bundles/k8s-rhel7-force/Dockerfile
  bundles/k8s-rhel7-force/kubernetes.repo
  bundles/k8s-rhel7/Dockerfile
  bundles/k8s-rhel7/kubernetes.repo
  bundles/k8s-rhel8/Dockerfile
  bundles/k8s-rhel8/kubernetes.repo
  bundles/k8s-rhel9/Dockerfile
  bundles/k8s-rhel9/kubernetes.repo
  bundles/k8s-ubuntu1804/Dockerfile
  bundles/k8s-ubuntu2004/Dockerfile
  bundles/k8s-ubuntu2204/Dockerfile
Labels: type::feature, kurl::type::feature

#4992 fix a logic error that forced all k8s packages to be rebuilt
  bin/upload-dist-staging.sh
Labels: type::chore

#4993 fix download of airgap assets before installation
  testgrid/specs/deploy.yaml
  testgrid/specs/full.yaml
Labels: type::bug, bug::normal

#4980 feat: increase goldpinger timeouts and add goldpinger troubleshoot spec
  addons/goldpinger/3.5.1-5.2.0/goldpinger.yaml
  addons/goldpinger/3.5.1-5.2.0/install.sh
  addons/goldpinger/3.5.1-5.2.0/kustomization.yaml
  addons/goldpinger/3.5.1-5.2.0/troubleshoot.yaml
  addons/goldpinger/3.6.1-5.4.2/goldpinger.yaml
  addons/goldpinger/3.6.1-5.4.2/install.sh
  addons/goldpinger/3.6.1-5.4.2/kustomization.yaml
  addons/goldpinger/3.6.1-5.4.2/troubleshoot.yaml
  addons/goldpinger/3.7.0-5.5.0/goldpinger.yaml
  addons/goldpinger/3.7.0-5.5.0/install.sh
  addons/goldpinger/3.7.0-5.5.0/kustomization.yaml
  addons/goldpinger/3.7.0-5.5.0/troubleshoot.yaml
  addons/goldpinger/3.7.0-5.6.0/goldpinger.yaml
  addons/goldpinger/3.7.0-5.6.0/install.sh
  addons/goldpinger/3.7.0-5.6.0/kustomization.yaml
  addons/goldpinger/3.7.0-5.6.0/troubleshoot.yaml
  addons/goldpinger/3.7.0-6.0.1/goldpinger.yaml
  addons/goldpinger/3.7.0-6.0.1/install.sh
  addons/goldpinger/3.7.0-6.0.1/kustomization.yaml
  addons/goldpinger/3.7.0-6.0.1/troubleshoot.yaml
  addons/goldpinger/template/base/install.sh
  addons/goldpinger/template/base/kustomization.yaml
  addons/goldpinger/template/base/troubleshoot.yaml
  addons/goldpinger/template/testgrid/tests.yaml
  addons/goldpinger/template/values.yaml
Labels: goldpinger, type::chore

#4995 Automated EKCO version update 0.28.3
  addons/ekco/0.28.3/Manifest
  addons/ekco/0.28.3/install.sh
Labels: automated-pr, type::chore, ekco, kurl::type::feature

#5006 Automated OpenEBS version update 3.10.0
  addons/openebs/3.10.0/Manifest
  addons/openebs/3.10.0/install.sh
  addons/openebs/3.10.0/spec/crds/crds.yaml
  addons/openebs/3.10.0/spec/crds/kustomization.yaml
  addons/openebs/3.10.0/spec/openebs.tmpl.yaml
  addons/openebs/3.10.0/spec/storage/kustomization.yaml
  addons/openebs/3.10.0/spec/storage/tmpl-localpv-storage-class.yaml
  addons/openebs/3.10.0/spec/storage/tmpl-patch-localpv-default.yaml
  addons/openebs/3.10.0/spec/tmpl-kustomization.yaml
  addons/openebs/3.10.0/spec/tmpl-namespace.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, openebs, kurl::type::feature, auto-merge

#5008 Automated Flannel version update 0.24.0
  addons/flannel/0.24.0/Manifest
  addons/flannel/0.24.0/host-preflight.yaml
  addons/flannel/0.24.0/install.sh
  addons/flannel/0.24.0/kubeadm.yaml
  addons/flannel/0.24.0/template/iface.patch.tmpl.yaml
  addons/flannel/0.24.0/template/ipv6.patch.tmpl.yaml
  addons/flannel/0.24.0/template/kube-flannel-cfg.patch.tmpl.yaml
  addons/flannel/0.24.0/yaml/kube-flannel.yml
  addons/flannel/0.24.0/yaml/kustomization.yaml
  addons/flannel/0.24.0/yaml/troubleshoot.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, kurl::type::feature, flannel

#5009 Goldpinger should listen on 8080 not 80
  addons/goldpinger/template/values.yaml
Labels: type::chore

#5010 update the curl k8s api health check code
  scripts/distro/kubeadm/distro.sh
Labels: type::chore

#5011 Automated Kubernetes version update 1.29.0 1.28.5 1.27.9 1.26.12
  hack/testdata/manifest/clean
  packages/kubernetes/1.26.12/Manifest
  packages/kubernetes/1.26.12/conformance/Manifest
  packages/kubernetes/1.27.9/Manifest
  packages/kubernetes/1.27.9/conformance/Manifest
  packages/kubernetes/1.28.5/Manifest
  packages/kubernetes/1.28.5/conformance/Manifest
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, kubernetes, type::chore, kurl::type::feature

#4982 Automated Goldpinger version update 3.9.0-6.1.2
  addons/goldpinger/3.9.0-6.1.2/Manifest
  addons/goldpinger/3.9.0-6.1.2/goldpinger.yaml
  addons/goldpinger/3.9.0-6.1.2/install.sh
  addons/goldpinger/3.9.0-6.1.2/kustomization.yaml
  addons/goldpinger/3.9.0-6.1.2/servicemonitor.yaml
  addons/goldpinger/3.9.0-6.1.2/troubleshoot.yaml
  web/src/installers/versions.js
Labels: automated-pr, goldpinger, type::chore, kurl::type::feature

#5012 use the internal ekco service address to trigger storage migrations
  scripts/common/common.sh
Labels: type::bug, bug::normal

#5013 mark kots < 1.96 as being incompatible with k8s 1.29+
  pkg/preflight/assets/host-preflights.yaml
  testgrid/specs/full.yaml
Labels: type::bug, bug::normal

#5017 update kurl-util to build with go 1.21
  kurl_util/deploy/Dockerfile
Labels: type::chore

#5018 fix: quote the repl so preflight can run standalone
  pkg/preflight/assets/host-preflights.yaml
Labels: type::bug, bug::normal
