Repository replicatedhq/kURL, pull requests merged in 2023-11, with the labels that each got.

#4926 Automated Contour version update 1.27.0
  addons/contour/1.27.0/Manifest
  addons/contour/1.27.0/contour.yaml
  addons/contour/1.27.0/install.sh
  addons/contour/1.27.0/patches/job-image.yaml
  addons/contour/1.27.0/patches/resource-limits.yaml
  addons/contour/1.27.0/tmpl-configmap.yaml
  addons/contour/1.27.0/tmpl-kustomization.yaml
  addons/contour/1.27.0/tmpl-namespace.yaml
  addons/contour/1.27.0/tmpl-service-patch.yaml
  web/src/installers/versions.js
Labels: automated-pr, contour, type::chore, kurl::type::feature

#4925 Automated Velero version update 1.12.1
  addons/velero/1.12.1/Manifest
  addons/velero/1.12.1/install.sh
Labels: automated-pr, velero, type::chore, kurl::type::feature

#4924 Automated Flannel version update 0.23.0
  addons/flannel/0.23.0/Manifest
  addons/flannel/0.23.0/host-preflight.yaml
  addons/flannel/0.23.0/install.sh
  addons/flannel/0.23.0/kubeadm.yaml
  addons/flannel/0.23.0/template/iface.patch.tmpl.yaml
  addons/flannel/0.23.0/template/ipv6.patch.tmpl.yaml
  addons/flannel/0.23.0/template/kube-flannel-cfg.patch.tmpl.yaml
  addons/flannel/0.23.0/yaml/kube-flannel.yml
  addons/flannel/0.23.0/yaml/kustomization.yaml
  addons/flannel/0.23.0/yaml/troubleshoot.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, kurl::type::feature, flannel

#4910 Automated MinIO version update RELEASE.2023-11-01T18-37-25Z
  addons/minio/2023-11-01T18-37-25Z/Manifest
  addons/minio/2023-11-01T18-37-25Z/deployment.yaml
  addons/minio/2023-11-01T18-37-25Z/install.sh
  addons/minio/2023-11-01T18-37-25Z/migrate-fs/hostpath/deployment.yaml
  addons/minio/2023-11-01T18-37-25Z/migrate-fs/hostpath/kustomization.yaml
  addons/minio/2023-11-01T18-37-25Z/migrate-fs/hostpath/original-service.yaml
  addons/minio/2023-11-01T18-37-25Z/migrate-fs/hostpath/service.yaml
  addons/minio/2023-11-01T18-37-25Z/migrate-fs/minio-backup-pvc.yaml
  addons/minio/2023-11-01T18-37-25Z/migrate-fs/minio-pvc.yaml
  addons/minio/2023-11-01T18-37-25Z/migrate-fs/pvc/deployment.yaml
  addons/minio/2023-11-01T18-37-25Z/migrate-fs/pvc/kustomization.yaml
  addons/minio/2023-11-01T18-37-25Z/migrate-fs/pvc/original-service.yaml
  addons/minio/2023-11-01T18-37-25Z/migrate-fs/pvc/pvc.yaml
  addons/minio/2023-11-01T18-37-25Z/migrate-fs/pvc/service.yaml
  addons/minio/2023-11-01T18-37-25Z/service.yaml
  addons/minio/2023-11-01T18-37-25Z/tmpl-creds-secret.yaml
  addons/minio/2023-11-01T18-37-25Z/tmpl-deployment-hostpath.yaml
  addons/minio/2023-11-01T18-37-25Z/tmpl-deployment-pvc.yaml
  addons/minio/2023-11-01T18-37-25Z/tmpl-ha-statefulset.yaml
  addons/minio/2023-11-01T18-37-25Z/tmpl-kustomization.yaml
  addons/minio/2023-11-01T18-37-25Z/tmpl-namespace.yaml
  addons/minio/2023-11-01T18-37-25Z/tmpl-pvc.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, minio, kurl::type::feature

#4667 cert manager 1.13.2
  addons/cert-manager/1.13.2/Manifest
  addons/cert-manager/1.13.2/cert-manager.yaml
  addons/cert-manager/1.13.2/install.sh
  addons/cert-manager/1.13.2/kustomization.yaml
  addons/cert-manager/template/testgrid/k8s-docker.yaml
  web/src/installers/versions.js
Labels: type::feature

#4821 Automated Prometheus version update 0.69.1-53.0.0
  addons/prometheus/0.69.1-53.0.0/Manifest
  addons/prometheus/0.69.1-53.0.0/crds/crds.yaml
  addons/prometheus/0.69.1-53.0.0/crds/kustomization.yaml
  addons/prometheus/0.69.1-53.0.0/crds/preserveUnknown.yaml
  addons/prometheus/0.69.1-53.0.0/host-preflight.yaml
  addons/prometheus/0.69.1-53.0.0/install.sh
  addons/prometheus/0.69.1-53.0.0/nodeport-services.yaml
  addons/prometheus/0.69.1-53.0.0/operator/adapter.yaml
  addons/prometheus/0.69.1-53.0.0/operator/default.yaml
  addons/prometheus/0.69.1-53.0.0/operator/kustomization.yaml
  addons/prometheus/0.69.1-53.0.0/operator/longhorn.yaml
  addons/prometheus/0.69.1-53.0.0/operator/matchlabel-instance.yaml
  addons/prometheus/0.69.1-53.0.0/operator/matchlabel-release.yaml
  addons/prometheus/0.69.1-53.0.0/operator/ns.yaml
  addons/prometheus/0.69.1-53.0.0/operator/rook-ceph-rolebindings.yaml
  addons/prometheus/0.69.1-53.0.0/tmpl-grafana-secret.yaml
  web/src/installers/versions.js
Labels: automated-pr, prometheus, type::chore, kurl::type::feature

#4934 Automated MinIO version update RELEASE.2023-11-11T08-14-41Z
  addons/minio/2023-11-11T08-14-41Z/Manifest
  addons/minio/2023-11-11T08-14-41Z/deployment.yaml
  addons/minio/2023-11-11T08-14-41Z/install.sh
  addons/minio/2023-11-11T08-14-41Z/migrate-fs/hostpath/deployment.yaml
  addons/minio/2023-11-11T08-14-41Z/migrate-fs/hostpath/kustomization.yaml
  addons/minio/2023-11-11T08-14-41Z/migrate-fs/hostpath/original-service.yaml
  addons/minio/2023-11-11T08-14-41Z/migrate-fs/hostpath/service.yaml
  addons/minio/2023-11-11T08-14-41Z/migrate-fs/minio-backup-pvc.yaml
  addons/minio/2023-11-11T08-14-41Z/migrate-fs/minio-pvc.yaml
  addons/minio/2023-11-11T08-14-41Z/migrate-fs/pvc/deployment.yaml
  addons/minio/2023-11-11T08-14-41Z/migrate-fs/pvc/kustomization.yaml
  addons/minio/2023-11-11T08-14-41Z/migrate-fs/pvc/original-service.yaml
  addons/minio/2023-11-11T08-14-41Z/migrate-fs/pvc/pvc.yaml
  addons/minio/2023-11-11T08-14-41Z/migrate-fs/pvc/service.yaml
  addons/minio/2023-11-11T08-14-41Z/service.yaml
  addons/minio/2023-11-11T08-14-41Z/tmpl-creds-secret.yaml
  addons/minio/2023-11-11T08-14-41Z/tmpl-deployment-hostpath.yaml
  addons/minio/2023-11-11T08-14-41Z/tmpl-deployment-pvc.yaml
  addons/minio/2023-11-11T08-14-41Z/tmpl-ha-statefulset.yaml
  addons/minio/2023-11-11T08-14-41Z/tmpl-kustomization.yaml
  addons/minio/2023-11-11T08-14-41Z/tmpl-namespace.yaml
  addons/minio/2023-11-11T08-14-41Z/tmpl-pvc.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, minio, kurl::type::feature

#4941 Automated Containerd version update 1.6.24
  addons/containerd/1.6.10/Manifest
  addons/containerd/1.6.11/Manifest
  addons/containerd/1.6.12/Manifest
  addons/containerd/1.6.13/Manifest
  addons/containerd/1.6.14/Manifest
  addons/containerd/1.6.15/Manifest
  addons/containerd/1.6.16/Manifest
  addons/containerd/1.6.18/Manifest
  addons/containerd/1.6.19/Manifest
  addons/containerd/1.6.20/Manifest
  addons/containerd/1.6.21/Manifest
  addons/containerd/1.6.22/Manifest
  addons/containerd/1.6.24/Manifest
  addons/containerd/1.6.4/Manifest
  addons/containerd/1.6.6/Manifest
  addons/containerd/1.6.7/Manifest
  addons/containerd/1.6.8/Manifest
  addons/containerd/1.6.9/Manifest
Labels: automated-pr, containerd, type::chore, kurl::type::feature

#4942 Automated MinIO version update RELEASE.2023-11-15T20-43-25Z
  addons/minio/2023-11-15T20-43-25Z/Manifest
  addons/minio/2023-11-15T20-43-25Z/deployment.yaml
  addons/minio/2023-11-15T20-43-25Z/install.sh
  addons/minio/2023-11-15T20-43-25Z/migrate-fs/hostpath/deployment.yaml
  addons/minio/2023-11-15T20-43-25Z/migrate-fs/hostpath/kustomization.yaml
  addons/minio/2023-11-15T20-43-25Z/migrate-fs/hostpath/original-service.yaml
  addons/minio/2023-11-15T20-43-25Z/migrate-fs/hostpath/service.yaml
  addons/minio/2023-11-15T20-43-25Z/migrate-fs/minio-backup-pvc.yaml
  addons/minio/2023-11-15T20-43-25Z/migrate-fs/minio-pvc.yaml
  addons/minio/2023-11-15T20-43-25Z/migrate-fs/pvc/deployment.yaml
  addons/minio/2023-11-15T20-43-25Z/migrate-fs/pvc/kustomization.yaml
  addons/minio/2023-11-15T20-43-25Z/migrate-fs/pvc/original-service.yaml
  addons/minio/2023-11-15T20-43-25Z/migrate-fs/pvc/pvc.yaml
  addons/minio/2023-11-15T20-43-25Z/migrate-fs/pvc/service.yaml
  addons/minio/2023-11-15T20-43-25Z/service.yaml
  addons/minio/2023-11-15T20-43-25Z/tmpl-creds-secret.yaml
  addons/minio/2023-11-15T20-43-25Z/tmpl-deployment-hostpath.yaml
  addons/minio/2023-11-15T20-43-25Z/tmpl-deployment-pvc.yaml
  addons/minio/2023-11-15T20-43-25Z/tmpl-ha-statefulset.yaml
  addons/minio/2023-11-15T20-43-25Z/tmpl-kustomization.yaml
  addons/minio/2023-11-15T20-43-25Z/tmpl-namespace.yaml
  addons/minio/2023-11-15T20-43-25Z/tmpl-pvc.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, minio, kurl::type::feature

#4943 bug: abort immediately if we can't read one of the pod logs
  go.mod
  go.sum
  pkg/cli/nodes_connectivity.go
Labels: bug::normal

#4944 Automated Sonobuoy version update 0.57.1
  addons/sonobuoy/0.57.1/Manifest
  addons/sonobuoy/0.57.1/install.sh
  web/src/installers/versions.js
Labels: automated-pr, sonobuoy, type::chore, kurl::type::feature

#4945 Automated Rook version update 1.12.8
  addons/rook/1.12.8/Manifest
  addons/rook/1.12.8/cluster/cephfs/cephfs-storageclass.yaml
  addons/rook/1.12.8/cluster/cephfs/filesystem.yaml
  addons/rook/1.12.8/cluster/cephfs/patches/cephfs-storageclass.yaml
  addons/rook/1.12.8/cluster/cephfs/patches/filesystem-singlenode.yaml
  addons/rook/1.12.8/cluster/cephfs/patches/tmpl-filesystem-Json6902.yaml
  addons/rook/1.12.8/cluster/cephfs/patches/tmpl-filesystem.yaml
  addons/rook/1.12.8/cluster/cluster.yaml
  addons/rook/1.12.8/cluster/kustomization.yaml
  addons/rook/1.12.8/cluster/object-user.yaml
  addons/rook/1.12.8/cluster/object.yaml
  addons/rook/1.12.8/cluster/patches/ceph-cluster-tolerate.yaml
  addons/rook/1.12.8/cluster/patches/cluster-nodes.tmpl.yaml
  addons/rook/1.12.8/cluster/patches/object-Json6902.yaml
  addons/rook/1.12.8/cluster/patches/tmpl-cluster.yaml
  addons/rook/1.12.8/cluster/patches/tmpl-object.yaml
  addons/rook/1.12.8/cluster/patches/tmpl-rbd-storageclass.yaml
  addons/rook/1.12.8/cluster/tmpl-rbd-storageclass.yaml
  addons/rook/1.12.8/crds.yaml
  addons/rook/1.12.8/host-preflight.yaml
  addons/rook/1.12.8/install.sh
  addons/rook/1.12.8/monitoring/ceph-cluster-dashboard.yaml
  addons/rook/1.12.8/monitoring/kustomization.yaml
  addons/rook/1.12.8/monitoring/rook-ceph-servicemonitor.yaml
  addons/rook/1.12.8/operator/cluster-rbac.yaml
  addons/rook/1.12.8/operator/clusterrole.yaml
  addons/rook/1.12.8/operator/clusterrolebinding.yaml
  addons/rook/1.12.8/operator/configmap-rook-config-override.yaml
  addons/rook/1.12.8/operator/configmap.yaml
  addons/rook/1.12.8/operator/deployment.yaml
  addons/rook/1.12.8/operator/kustomization.yaml
  addons/rook/1.12.8/operator/namespace.yaml
  addons/rook/1.12.8/operator/patches/deployment-privileged.yaml
  addons/rook/1.12.8/operator/patches/deployment-tolerations.yaml
  addons/rook/1.12.8/operator/role.yaml
  addons/rook/1.12.8/operator/rolebinding.yaml
  addons/rook/1.12.8/operator/securityContextConstraints.yaml
  addons/rook/1.12.8/operator/serviceaccount.yaml
  addons/rook/1.12.8/operator/toolbox.yaml
  hack/testdata/manifest/clean
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, rook, type::chore, kurl::type::feature

#4954 bug: validate if received data is an uuid
  pkg/cli/nodes_connectivity.go
Labels: type::bug, bug::normal

#4947 Automated EKCO version update 0.28.3
  addons/ekco/0.28.3/Manifest
  addons/ekco/0.28.3/install.sh
Labels: automated-pr, type::chore, ekco, kurl::type::feature

#4958 Automated Containerd version update 1.6.25
  addons/containerd/1.6.25/Manifest
  addons/containerd/1.6.25/crictl.yaml
  addons/containerd/1.6.25/host-preflight.yaml
  addons/containerd/1.6.25/install.sh
  addons/containerd/1.6.25/kubeadm-init-config-v1beta2.yaml
  addons/containerd/1.6.25/kubeadm-join-config-v1beta2.yaml
  hack/testdata/manifest/clean
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, containerd, type::chore, kurl::type::feature

#4959 Automated Velero version update 1.12.2
  addons/velero/1.12.2/Manifest
  addons/velero/1.12.2/install.sh
  addons/velero/1.12.2/node-agent-daemonset-privileged.yaml
  addons/velero/1.12.2/s3-migration-configmap.yaml
  addons/velero/1.12.2/tmpl-change-storageclass.yaml
  addons/velero/1.12.2/tmpl-internal-snaps-deployment-patch.yaml
  addons/velero/1.12.2/tmpl-internal-snaps-ds-patch.yaml
  addons/velero/1.12.2/tmpl-internal-snaps-pvc.yaml
  addons/velero/1.12.2/tmpl-kotsadm-restore-config.yaml
  addons/velero/1.12.2/tmpl-kustomization.yaml
  addons/velero/1.12.2/tmpl-node-agent-daemonset-proxy.yaml
  addons/velero/1.12.2/tmpl-s3-migration-bsl.yaml
  addons/velero/1.12.2/tmpl-s3-migration-deployment-patch.yaml
  addons/velero/1.12.2/tmpl-s3-migration-secret.yaml
  addons/velero/1.12.2/tmpl-velero-deployment-proxy.yaml
  web/src/installers/versions.js
Labels: automated-pr, velero, type::chore, kurl::type::feature
