Repository replicatedhq/kURL, pull requests merged in 2024-01, with the labels that each got.

#5020 Automated Containerd version update 1.6.26
  addons/containerd/1.6.10/Manifest
  addons/containerd/1.6.11/Manifest
  addons/containerd/1.6.12/Manifest
  addons/containerd/1.6.13/Manifest
  addons/containerd/1.6.14/Manifest
  addons/containerd/1.6.15/Manifest
  addons/containerd/1.6.16/Manifest
  addons/containerd/1.6.18/Manifest
  addons/containerd/1.6.19/Manifest
  addons/containerd/1.6.20/Manifest
  addons/containerd/1.6.21/Manifest
  addons/containerd/1.6.22/Manifest
  addons/containerd/1.6.24/Manifest
  addons/containerd/1.6.25/Manifest
  addons/containerd/1.6.26/Manifest
  addons/containerd/1.6.4/Manifest
  addons/containerd/1.6.6/Manifest
  addons/containerd/1.6.7/Manifest
  addons/containerd/1.6.8/Manifest
  addons/containerd/1.6.9/Manifest
Labels: automated-pr, containerd, type::chore, kurl::type::feature

#4994 Automated MinIO version update RELEASE.2024-01-01T16-36-33Z
  addons/minio/2024-01-01T16-36-33Z/Manifest
  addons/minio/2024-01-01T16-36-33Z/deployment.yaml
  addons/minio/2024-01-01T16-36-33Z/install.sh
  addons/minio/2024-01-01T16-36-33Z/migrate-fs/hostpath/deployment.yaml
  addons/minio/2024-01-01T16-36-33Z/migrate-fs/hostpath/kustomization.yaml
  addons/minio/2024-01-01T16-36-33Z/migrate-fs/hostpath/original-service.yaml
  addons/minio/2024-01-01T16-36-33Z/migrate-fs/hostpath/service.yaml
  addons/minio/2024-01-01T16-36-33Z/migrate-fs/minio-backup-pvc.yaml
  addons/minio/2024-01-01T16-36-33Z/migrate-fs/minio-pvc.yaml
  addons/minio/2024-01-01T16-36-33Z/migrate-fs/pvc/deployment.yaml
  addons/minio/2024-01-01T16-36-33Z/migrate-fs/pvc/kustomization.yaml
  addons/minio/2024-01-01T16-36-33Z/migrate-fs/pvc/original-service.yaml
  addons/minio/2024-01-01T16-36-33Z/migrate-fs/pvc/pvc.yaml
  addons/minio/2024-01-01T16-36-33Z/migrate-fs/pvc/service.yaml
  addons/minio/2024-01-01T16-36-33Z/service.yaml
  addons/minio/2024-01-01T16-36-33Z/tmpl-creds-secret.yaml
  addons/minio/2024-01-01T16-36-33Z/tmpl-deployment-hostpath.yaml
  addons/minio/2024-01-01T16-36-33Z/tmpl-deployment-pvc.yaml
  addons/minio/2024-01-01T16-36-33Z/tmpl-ha-statefulset.yaml
  addons/minio/2024-01-01T16-36-33Z/tmpl-kustomization.yaml
  addons/minio/2024-01-01T16-36-33Z/tmpl-namespace.yaml
  addons/minio/2024-01-01T16-36-33Z/tmpl-pvc.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, minio, kurl::type::feature

#5027 Allow nightly versions of kots to install with any k8s version
  pkg/preflight/assets/host-preflights.yaml
Labels: type::bug, bug::regression

#5028 Automated EKCO version update 0.28.4
  addons/ekco/0.28.3/Manifest
  addons/ekco/0.28.4/Manifest
  addons/ekco/0.28.4/README.md
  addons/ekco/0.28.4/configmap.tmpl.yaml
  addons/ekco/0.28.4/deployment.tmpl.yaml
  addons/ekco/0.28.4/ekco-purge-node.sh
  addons/ekco/0.28.4/install.sh
  addons/ekco/0.28.4/kustomization.yaml
  addons/ekco/0.28.4/namespace.yaml
  addons/ekco/0.28.4/rbac-kotsadm.yaml
  addons/ekco/0.28.4/rbac-minio.yaml
  addons/ekco/0.28.4/rbac-rook.yaml
  addons/ekco/0.28.4/rbac.yaml
  addons/ekco/0.28.4/reboot/ekco-reboot-containerd.service
  addons/ekco/0.28.4/reboot/ekco-reboot.service
  addons/ekco/0.28.4/reboot/shutdown.sh
  addons/ekco/0.28.4/reboot/startup.sh
  addons/ekco/0.28.4/regen-cert-pod.yaml
  addons/ekco/0.28.4/rolebinding-kotsadm.yaml
  addons/ekco/0.28.4/rolebinding-minio.yaml
  addons/ekco/0.28.4/rolebinding-rook.yaml
  addons/ekco/0.28.4/rolebinding.yaml
  addons/ekco/0.28.4/rotate-certs-rbac.yaml
  addons/ekco/0.28.4/service.tmpl.yaml
  addons/ekco/0.28.4/storageclass-scaling.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, ekco, kurl::type::feature

#5023 feat: Add support bundle spec to openebs addon
  addons/openebs/3.10.0/install.sh
  addons/openebs/3.10.0/spec/tmpl-kustomization.yaml
  addons/openebs/3.10.0/spec/tmpl-troubleshoot.yaml
  addons/openebs/3.2.0/install.sh
  addons/openebs/3.2.0/spec/tmpl-kustomization.yaml
  addons/openebs/3.2.0/spec/tmpl-troubleshoot.yaml
  addons/openebs/3.3.0/install.sh
  addons/openebs/3.3.0/spec/tmpl-kustomization.yaml
  addons/openebs/3.3.0/spec/tmpl-troubleshoot.yaml
  addons/openebs/3.4.0/install.sh
  addons/openebs/3.4.0/spec/tmpl-kustomization.yaml
  addons/openebs/3.4.0/spec/tmpl-troubleshoot.yaml
  addons/openebs/3.5.0/install.sh
  addons/openebs/3.5.0/spec/tmpl-kustomization.yaml
  addons/openebs/3.5.0/spec/tmpl-troubleshoot.yaml
  addons/openebs/3.6.0/install.sh
  addons/openebs/3.6.0/spec/tmpl-kustomization.yaml
  addons/openebs/3.6.0/spec/tmpl-troubleshoot.yaml
  addons/openebs/3.7.0/install.sh
  addons/openebs/3.7.0/spec/tmpl-kustomization.yaml
  addons/openebs/3.7.0/spec/tmpl-troubleshoot.yaml
  addons/openebs/3.8.0/install.sh
  addons/openebs/3.8.0/spec/tmpl-kustomization.yaml
  addons/openebs/3.8.0/spec/tmpl-troubleshoot.yaml
  addons/openebs/3.9.0/install.sh
  addons/openebs/3.9.0/spec/tmpl-kustomization.yaml
  addons/openebs/3.9.0/spec/tmpl-troubleshoot.yaml
  addons/openebs/template/base/install.sh
  addons/openebs/template/base/spec/tmpl-kustomization.yaml
  addons/openebs/template/base/spec/tmpl-troubleshoot.yaml
  addons/openebs/template/testgrid/k8s-docker-localpv.yaml
Labels: type::improvement

#5029 bug: allow ekco service account to list velero resources
  addons/ekco/template/base/rbac.yaml
Labels: type::bug, bug::normal

#5030 Automated EKCO version update 0.28.4
  addons/ekco/0.28.4/rbac.yaml
Labels: automated-pr, type::chore, ekco, kurl::type::feature

#5037 Automated Containerd version update 1.6.27
  addons/containerd/1.6.27/Manifest
  addons/containerd/1.6.27/crictl.yaml
  addons/containerd/1.6.27/host-preflight.yaml
  addons/containerd/1.6.27/install.sh
  addons/containerd/1.6.27/kubeadm-init-config-v1beta2.yaml
  addons/containerd/1.6.27/kubeadm-join-config-v1beta2.yaml
  hack/testdata/manifest/clean
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, containerd, type::chore, kurl::type::feature

#5032 Automated EKCO version update 0.28.4
  addons/ekco/0.28.4/Manifest
  addons/ekco/0.28.4/install.sh
Labels: automated-pr, type::chore, ekco, kurl::type::feature

#5031 Automated Velero version update 1.12.3
  addons/velero/1.12.3/Manifest
  addons/velero/1.12.3/install.sh
  addons/velero/1.12.3/node-agent-daemonset-privileged.yaml
  addons/velero/1.12.3/s3-migration-configmap.yaml
  addons/velero/1.12.3/tmpl-change-storageclass.yaml
  addons/velero/1.12.3/tmpl-internal-snaps-deployment-patch.yaml
  addons/velero/1.12.3/tmpl-internal-snaps-ds-patch.yaml
  addons/velero/1.12.3/tmpl-internal-snaps-pvc.yaml
  addons/velero/1.12.3/tmpl-kotsadm-restore-config.yaml
  addons/velero/1.12.3/tmpl-kustomization.yaml
  addons/velero/1.12.3/tmpl-node-agent-daemonset-proxy.yaml
  addons/velero/1.12.3/tmpl-s3-migration-bsl.yaml
  addons/velero/1.12.3/tmpl-s3-migration-deployment-patch.yaml
  addons/velero/1.12.3/tmpl-s3-migration-secret.yaml
  addons/velero/1.12.3/tmpl-velero-deployment-proxy.yaml
  web/src/installers/versions.js
Labels: automated-pr, velero, type::chore, kurl::type::feature

#5022 feat: Add support bundle spec to velero addon 1.12.2
  addons/velero/1.11.0/install.sh
  addons/velero/1.11.0/tmpl-kustomization.yaml
  addons/velero/1.11.0/tmpl-troubleshoot.yaml
  addons/velero/1.11.1/install.sh
  addons/velero/1.11.1/tmpl-kustomization.yaml
  addons/velero/1.11.1/tmpl-troubleshoot.yaml
  addons/velero/1.12.0/install.sh
  addons/velero/1.12.0/tmpl-kustomization.yaml
  addons/velero/1.12.0/tmpl-troubleshoot.yaml
  addons/velero/1.12.1/install.sh
  addons/velero/1.12.1/tmpl-kustomization.yaml
  addons/velero/1.12.1/tmpl-troubleshoot.yaml
  addons/velero/1.12.2/install.sh
  addons/velero/1.12.2/tmpl-kustomization.yaml
  addons/velero/1.12.2/tmpl-troubleshoot.yaml
  addons/velero/template/base/install.tmpl.sh
  addons/velero/template/base/tmpl-kustomization.yaml
  addons/velero/template/base/tmpl-troubleshoot.yaml
  addons/velero/template/testgrid/k8s-docker.yaml
Labels: type::feature, type::improvement

#5056 Update cron-testgrid-daily.yaml
  .github/workflows/cron-testgrid-daily.yaml
Labels: type::chore
