Repository replicatedhq/kURL, pull requests merged in 2024-12, with the labels that each got.

#5461 Automated MinIO version update RELEASE.2024-11-07T00-52-20Z
  addons/minio/2024-11-07T00-52-20Z/Manifest
  addons/minio/2024-11-07T00-52-20Z/deployment.yaml
  addons/minio/2024-11-07T00-52-20Z/install.sh
  addons/minio/2024-11-07T00-52-20Z/migrate-fs/hostpath/deployment.yaml
  addons/minio/2024-11-07T00-52-20Z/migrate-fs/hostpath/kustomization.yaml
  addons/minio/2024-11-07T00-52-20Z/migrate-fs/hostpath/original-service.yaml
  addons/minio/2024-11-07T00-52-20Z/migrate-fs/hostpath/service.yaml
  addons/minio/2024-11-07T00-52-20Z/migrate-fs/minio-backup-pvc.yaml
  addons/minio/2024-11-07T00-52-20Z/migrate-fs/minio-pvc.yaml
  addons/minio/2024-11-07T00-52-20Z/migrate-fs/pvc/deployment.yaml
  addons/minio/2024-11-07T00-52-20Z/migrate-fs/pvc/kustomization.yaml
  addons/minio/2024-11-07T00-52-20Z/migrate-fs/pvc/original-service.yaml
  addons/minio/2024-11-07T00-52-20Z/migrate-fs/pvc/pvc.yaml
  addons/minio/2024-11-07T00-52-20Z/migrate-fs/pvc/service.yaml
  addons/minio/2024-11-07T00-52-20Z/service.yaml
  addons/minio/2024-11-07T00-52-20Z/tmpl-creds-secret.yaml
  addons/minio/2024-11-07T00-52-20Z/tmpl-deployment-hostpath.yaml
  addons/minio/2024-11-07T00-52-20Z/tmpl-deployment-pvc.yaml
  addons/minio/2024-11-07T00-52-20Z/tmpl-ha-statefulset.yaml
  addons/minio/2024-11-07T00-52-20Z/tmpl-kustomization.yaml
  addons/minio/2024-11-07T00-52-20Z/tmpl-namespace.yaml
  addons/minio/2024-11-07T00-52-20Z/tmpl-pvc.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, minio, kurl::type::feature

#5492 use rhel 9 containerd repo for rhel9
  addons/containerd/1.6.33/Manifest
  addons/containerd/template/Dockerfile.rhel9
  testgrid/specs/os-customer-common.yaml
  testgrid/specs/os-firstlast.yaml
  testgrid/specs/os-full.yaml
  testgrid/specs/os-latest.yaml
Labels: type::chore

#5493 Automated Containerd version update 1.6.33
  addons/containerd/1.6.10/Manifest
  addons/containerd/1.6.10/host-preflight.yaml
  addons/containerd/1.6.11/Manifest
  addons/containerd/1.6.11/host-preflight.yaml
  addons/containerd/1.6.12/Manifest
  addons/containerd/1.6.12/host-preflight.yaml
  addons/containerd/1.6.13/Manifest
  addons/containerd/1.6.13/host-preflight.yaml
  addons/containerd/1.6.14/Manifest
  addons/containerd/1.6.14/host-preflight.yaml
  addons/containerd/1.6.15/Manifest
  addons/containerd/1.6.15/host-preflight.yaml
  addons/containerd/1.6.16/Manifest
  addons/containerd/1.6.16/host-preflight.yaml
  addons/containerd/1.6.18/Manifest
  addons/containerd/1.6.18/host-preflight.yaml
  addons/containerd/1.6.19/Manifest
  addons/containerd/1.6.19/host-preflight.yaml
  addons/containerd/1.6.20/Manifest
  addons/containerd/1.6.20/host-preflight.yaml
  addons/containerd/1.6.21/Manifest
  addons/containerd/1.6.21/host-preflight.yaml
  addons/containerd/1.6.22/Manifest
  addons/containerd/1.6.22/host-preflight.yaml
  addons/containerd/1.6.24/Manifest
  addons/containerd/1.6.24/host-preflight.yaml
  addons/containerd/1.6.25/Manifest
  addons/containerd/1.6.25/host-preflight.yaml
  addons/containerd/1.6.26/Manifest
  addons/containerd/1.6.26/host-preflight.yaml
  addons/containerd/1.6.27/Manifest
  addons/containerd/1.6.27/host-preflight.yaml
  addons/containerd/1.6.33/Manifest
  addons/containerd/1.6.4/Manifest
  addons/containerd/1.6.4/host-preflight.yaml
  addons/containerd/1.6.6/Manifest
  addons/containerd/1.6.6/host-preflight.yaml
  addons/containerd/1.6.7/Manifest
  addons/containerd/1.6.7/host-preflight.yaml
  addons/containerd/1.6.8/Manifest
  addons/containerd/1.6.8/host-preflight.yaml
  addons/containerd/1.6.9/Manifest
  addons/containerd/1.6.9/host-preflight.yaml
Labels: automated-pr, containerd, type::chore, kurl::type::feature

#5494 add RHEL 9.5 and Rocky 9.5 support
  scripts/common/preflights.sh
  testgrid/specs/os-firstlast.yaml
  testgrid/specs/os-full.yaml
  testgrid/specs/os-latest.yaml
Labels: type::chore

#5495 mark centos-9 as unsupported in the same tests as rocky-9, update some containerd versions
  testgrid/specs/full.yaml
Labels: type::chore

#5505 Automated Kubernetes version update 1.31.4 1.30.8 1.29.12 1.28.15 1.27.16
  hack/testdata/manifest/clean
  packages/kubernetes/1.29.12/Manifest
  packages/kubernetes/1.29.12/conformance/Manifest
  packages/kubernetes/1.30.8/Manifest
  packages/kubernetes/1.30.8/conformance/Manifest
  packages/kubernetes/1.31.4/Manifest
  packages/kubernetes/1.31.4/conformance/Manifest
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, kubernetes, type::chore, kurl::type::feature

#5504 Automated Flannel version update 0.26.2
  addons/flannel/0.26.2/Manifest
  addons/flannel/0.26.2/flannel-ethtool.service
  addons/flannel/0.26.2/host-preflight.yaml
  addons/flannel/0.26.2/install.sh
  addons/flannel/0.26.2/kubeadm.yaml
  addons/flannel/0.26.2/template/iface.patch.tmpl.yaml
  addons/flannel/0.26.2/template/ipv6.patch.tmpl.yaml
  addons/flannel/0.26.2/template/kube-flannel-cfg.patch.tmpl.yaml
  addons/flannel/0.26.2/yaml/kube-flannel.yml
  addons/flannel/0.26.2/yaml/kustomization.yaml
  addons/flannel/0.26.2/yaml/troubleshoot.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, kurl::type::feature, flannel

#5513 use a version of containerd in tests that is supported
  testgrid/specs/full.yaml
Labels: type::chore

#5488 Automated Prometheus version update 0.79.2-67.5.0
  addons/prometheus/0.79.2-67.5.0/Manifest
  addons/prometheus/0.79.2-67.5.0/crds/crds.yaml
  addons/prometheus/0.79.2-67.5.0/crds/kustomization.yaml
  addons/prometheus/0.79.2-67.5.0/crds/preserveUnknown.yaml
  addons/prometheus/0.79.2-67.5.0/host-preflight.yaml
  addons/prometheus/0.79.2-67.5.0/install.sh
  addons/prometheus/0.79.2-67.5.0/nodeport-services.yaml
  addons/prometheus/0.79.2-67.5.0/operator/adapter.yaml
  addons/prometheus/0.79.2-67.5.0/operator/default.yaml
  addons/prometheus/0.79.2-67.5.0/operator/kustomization.yaml
  addons/prometheus/0.79.2-67.5.0/operator/longhorn.yaml
  addons/prometheus/0.79.2-67.5.0/operator/matchlabel-instance.yaml
  addons/prometheus/0.79.2-67.5.0/operator/matchlabel-release.yaml
  addons/prometheus/0.79.2-67.5.0/operator/ns.yaml
  addons/prometheus/0.79.2-67.5.0/operator/rook-ceph-rolebindings.yaml
  addons/prometheus/0.79.2-67.5.0/tmpl-grafana-secret.yaml
  web/src/installers/versions.js
Labels: automated-pr, prometheus, type::chore, kurl::type::feature
