Repository replicatedhq/kURL, pull requests merged in 2024-04, with the labels that each got.

#5065 Automated Prometheus version update 0.72.0-57.2.0
  addons/prometheus/0.72.0-57.2.0/Manifest
  addons/prometheus/0.72.0-57.2.0/crds/crds.yaml
  addons/prometheus/0.72.0-57.2.0/crds/kustomization.yaml
  addons/prometheus/0.72.0-57.2.0/crds/preserveUnknown.yaml
  addons/prometheus/0.72.0-57.2.0/host-preflight.yaml
  addons/prometheus/0.72.0-57.2.0/install.sh
  addons/prometheus/0.72.0-57.2.0/nodeport-services.yaml
  addons/prometheus/0.72.0-57.2.0/operator/adapter.yaml
  addons/prometheus/0.72.0-57.2.0/operator/default.yaml
  addons/prometheus/0.72.0-57.2.0/operator/kustomization.yaml
  addons/prometheus/0.72.0-57.2.0/operator/longhorn.yaml
  addons/prometheus/0.72.0-57.2.0/operator/matchlabel-instance.yaml
  addons/prometheus/0.72.0-57.2.0/operator/matchlabel-release.yaml
  addons/prometheus/0.72.0-57.2.0/operator/ns.yaml
  addons/prometheus/0.72.0-57.2.0/operator/rook-ceph-rolebindings.yaml
  addons/prometheus/0.72.0-57.2.0/tmpl-grafana-secret.yaml
  web/src/installers/versions.js
Labels: automated-pr, prometheus, type::chore, kurl::type::feature

#5089 Automated MinIO version update RELEASE.2024-03-26T22-10-45Z
  addons/minio/2024-03-26T22-10-45Z/Manifest
  addons/minio/2024-03-26T22-10-45Z/deployment.yaml
  addons/minio/2024-03-26T22-10-45Z/install.sh
  addons/minio/2024-03-26T22-10-45Z/migrate-fs/hostpath/deployment.yaml
  addons/minio/2024-03-26T22-10-45Z/migrate-fs/hostpath/kustomization.yaml
  addons/minio/2024-03-26T22-10-45Z/migrate-fs/hostpath/original-service.yaml
  addons/minio/2024-03-26T22-10-45Z/migrate-fs/hostpath/service.yaml
  addons/minio/2024-03-26T22-10-45Z/migrate-fs/minio-backup-pvc.yaml
  addons/minio/2024-03-26T22-10-45Z/migrate-fs/minio-pvc.yaml
  addons/minio/2024-03-26T22-10-45Z/migrate-fs/pvc/deployment.yaml
  addons/minio/2024-03-26T22-10-45Z/migrate-fs/pvc/kustomization.yaml
  addons/minio/2024-03-26T22-10-45Z/migrate-fs/pvc/original-service.yaml
  addons/minio/2024-03-26T22-10-45Z/migrate-fs/pvc/pvc.yaml
  addons/minio/2024-03-26T22-10-45Z/migrate-fs/pvc/service.yaml
  addons/minio/2024-03-26T22-10-45Z/service.yaml
  addons/minio/2024-03-26T22-10-45Z/tmpl-creds-secret.yaml
  addons/minio/2024-03-26T22-10-45Z/tmpl-deployment-hostpath.yaml
  addons/minio/2024-03-26T22-10-45Z/tmpl-deployment-pvc.yaml
  addons/minio/2024-03-26T22-10-45Z/tmpl-ha-statefulset.yaml
  addons/minio/2024-03-26T22-10-45Z/tmpl-kustomization.yaml
  addons/minio/2024-03-26T22-10-45Z/tmpl-namespace.yaml
  addons/minio/2024-03-26T22-10-45Z/tmpl-pvc.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, minio, kurl::type::feature

#5077 Automated Contour version update 1.28.2
  addons/contour/1.28.2/Manifest
  addons/contour/1.28.2/contour.yaml
  addons/contour/1.28.2/install.sh
  addons/contour/1.28.2/patches/job-image.yaml
  addons/contour/1.28.2/patches/resource-limits.yaml
  addons/contour/1.28.2/tmpl-configmap.yaml
  addons/contour/1.28.2/tmpl-kustomization.yaml
  addons/contour/1.28.2/tmpl-namespace.yaml
  addons/contour/1.28.2/tmpl-service-patch.yaml
  addons/contour/template/testgrid/k8s-docker.yaml
  web/src/installers/versions.js
Labels: automated-pr, contour, type::chore, kurl::type::feature

#5129 bug: stop installing fio on amazon linux
  scripts/common/common.sh
Labels: type::bug, bug::normal

#5131 ekco 0.28.5
  addons/ekco/0.28.4/Manifest
  addons/ekco/0.28.5/Manifest
  addons/ekco/0.28.5/README.md
  addons/ekco/0.28.5/configmap.tmpl.yaml
  addons/ekco/0.28.5/deployment.tmpl.yaml
  addons/ekco/0.28.5/ekco-purge-node.sh
  addons/ekco/0.28.5/install.sh
  addons/ekco/0.28.5/kustomization.yaml
  addons/ekco/0.28.5/namespace.yaml
  addons/ekco/0.28.5/rbac-kotsadm.yaml
  addons/ekco/0.28.5/rbac-minio.yaml
  addons/ekco/0.28.5/rbac-rook.yaml
  addons/ekco/0.28.5/rbac.yaml
  addons/ekco/0.28.5/reboot/ekco-reboot-containerd.service
  addons/ekco/0.28.5/reboot/ekco-reboot.service
  addons/ekco/0.28.5/reboot/shutdown.sh
  addons/ekco/0.28.5/reboot/startup.sh
  addons/ekco/0.28.5/regen-cert-pod.yaml
  addons/ekco/0.28.5/rolebinding-kotsadm.yaml
  addons/ekco/0.28.5/rolebinding-minio.yaml
  addons/ekco/0.28.5/rolebinding-rook.yaml
  addons/ekco/0.28.5/rolebinding.yaml
  addons/ekco/0.28.5/rotate-certs-rbac.yaml
  addons/ekco/0.28.5/service.tmpl.yaml
  addons/ekco/0.28.5/storageclass-scaling.yaml
  web/src/installers/versions.js
Labels: type::chore

#5130 go get github.com/libopenstorage/secrets/vault to remove the need for hashicorp/vault
  go.mod
  go.sum
Labels: type::chore

#5139 test upgrading k8s with the pr version of ekco
  addons/ekco/template/testgrid/k8s-docker.yaml
Labels: type::chore

#5140 Automated EKCO version update 0.28.6
  addons/ekco/0.28.5/Manifest
  addons/ekco/0.28.6/Manifest
  addons/ekco/0.28.6/README.md
  addons/ekco/0.28.6/configmap.tmpl.yaml
  addons/ekco/0.28.6/deployment.tmpl.yaml
  addons/ekco/0.28.6/ekco-purge-node.sh
  addons/ekco/0.28.6/install.sh
  addons/ekco/0.28.6/kustomization.yaml
  addons/ekco/0.28.6/namespace.yaml
  addons/ekco/0.28.6/rbac-kotsadm.yaml
  addons/ekco/0.28.6/rbac-minio.yaml
  addons/ekco/0.28.6/rbac-rook.yaml
  addons/ekco/0.28.6/rbac.yaml
  addons/ekco/0.28.6/reboot/ekco-reboot-containerd.service
  addons/ekco/0.28.6/reboot/ekco-reboot.service
  addons/ekco/0.28.6/reboot/shutdown.sh
  addons/ekco/0.28.6/reboot/startup.sh
  addons/ekco/0.28.6/regen-cert-pod.yaml
  addons/ekco/0.28.6/rolebinding-kotsadm.yaml
  addons/ekco/0.28.6/rolebinding-minio.yaml
  addons/ekco/0.28.6/rolebinding-rook.yaml
  addons/ekco/0.28.6/rolebinding.yaml
  addons/ekco/0.28.6/rotate-certs-rbac.yaml
  addons/ekco/0.28.6/service.tmpl.yaml
  addons/ekco/0.28.6/storageclass-scaling.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, ekco, kurl::type::feature

#5133 Automated Contour version update 1.28.3
  addons/contour/1.28.3/Manifest
  addons/contour/1.28.3/contour.yaml
  addons/contour/1.28.3/install.sh
  addons/contour/1.28.3/patches/job-image.yaml
  addons/contour/1.28.3/patches/resource-limits.yaml
  addons/contour/1.28.3/tmpl-configmap.yaml
  addons/contour/1.28.3/tmpl-kustomization.yaml
  addons/contour/1.28.3/tmpl-namespace.yaml
  addons/contour/1.28.3/tmpl-service-patch.yaml
  web/src/installers/versions.js
Labels: automated-pr, contour, type::chore, kurl::type::feature

#5134 Automated Flannel version update 0.25.1
  addons/flannel/0.25.1/Manifest
  addons/flannel/0.25.1/flannel-ethtool.service
  addons/flannel/0.25.1/host-preflight.yaml
  addons/flannel/0.25.1/install.sh
  addons/flannel/0.25.1/kubeadm.yaml
  addons/flannel/0.25.1/template/iface.patch.tmpl.yaml
  addons/flannel/0.25.1/template/ipv6.patch.tmpl.yaml
  addons/flannel/0.25.1/template/kube-flannel-cfg.patch.tmpl.yaml
  addons/flannel/0.25.1/yaml/kube-flannel.yml
  addons/flannel/0.25.1/yaml/kustomization.yaml
  addons/flannel/0.25.1/yaml/troubleshoot.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, kurl::type::feature, flannel

#5136 Automated MinIO version update RELEASE.2024-04-06T05-26-02Z
  addons/minio/2024-04-06T05-26-02Z/Manifest
  addons/minio/2024-04-06T05-26-02Z/deployment.yaml
  addons/minio/2024-04-06T05-26-02Z/install.sh
  addons/minio/2024-04-06T05-26-02Z/migrate-fs/hostpath/deployment.yaml
  addons/minio/2024-04-06T05-26-02Z/migrate-fs/hostpath/kustomization.yaml
  addons/minio/2024-04-06T05-26-02Z/migrate-fs/hostpath/original-service.yaml
  addons/minio/2024-04-06T05-26-02Z/migrate-fs/hostpath/service.yaml
  addons/minio/2024-04-06T05-26-02Z/migrate-fs/minio-backup-pvc.yaml
  addons/minio/2024-04-06T05-26-02Z/migrate-fs/minio-pvc.yaml
  addons/minio/2024-04-06T05-26-02Z/migrate-fs/pvc/deployment.yaml
  addons/minio/2024-04-06T05-26-02Z/migrate-fs/pvc/kustomization.yaml
  addons/minio/2024-04-06T05-26-02Z/migrate-fs/pvc/original-service.yaml
  addons/minio/2024-04-06T05-26-02Z/migrate-fs/pvc/pvc.yaml
  addons/minio/2024-04-06T05-26-02Z/migrate-fs/pvc/service.yaml
  addons/minio/2024-04-06T05-26-02Z/service.yaml
  addons/minio/2024-04-06T05-26-02Z/tmpl-creds-secret.yaml
  addons/minio/2024-04-06T05-26-02Z/tmpl-deployment-hostpath.yaml
  addons/minio/2024-04-06T05-26-02Z/tmpl-deployment-pvc.yaml
  addons/minio/2024-04-06T05-26-02Z/tmpl-ha-statefulset.yaml
  addons/minio/2024-04-06T05-26-02Z/tmpl-kustomization.yaml
  addons/minio/2024-04-06T05-26-02Z/tmpl-namespace.yaml
  addons/minio/2024-04-06T05-26-02Z/tmpl-pvc.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, minio, kurl::type::feature

#5137 Automated Prometheus version update 0.73.1-58.1.1
  addons/prometheus/0.73.1-58.1.1/Manifest
  addons/prometheus/0.73.1-58.1.1/crds/crds.yaml
  addons/prometheus/0.73.1-58.1.1/crds/kustomization.yaml
  addons/prometheus/0.73.1-58.1.1/crds/preserveUnknown.yaml
  addons/prometheus/0.73.1-58.1.1/host-preflight.yaml
  addons/prometheus/0.73.1-58.1.1/install.sh
  addons/prometheus/0.73.1-58.1.1/nodeport-services.yaml
  addons/prometheus/0.73.1-58.1.1/operator/adapter.yaml
  addons/prometheus/0.73.1-58.1.1/operator/default.yaml
  addons/prometheus/0.73.1-58.1.1/operator/kustomization.yaml
  addons/prometheus/0.73.1-58.1.1/operator/longhorn.yaml
  addons/prometheus/0.73.1-58.1.1/operator/matchlabel-instance.yaml
  addons/prometheus/0.73.1-58.1.1/operator/matchlabel-release.yaml
  addons/prometheus/0.73.1-58.1.1/operator/ns.yaml
  addons/prometheus/0.73.1-58.1.1/operator/rook-ceph-rolebindings.yaml
  addons/prometheus/0.73.1-58.1.1/tmpl-grafana-secret.yaml
  web/src/installers/versions.js
Labels: automated-pr, prometheus, type::chore, kurl::type::feature

#5138 Automated Containerd version update 1.6.31
  addons/containerd/1.6.31/Manifest
  addons/containerd/1.6.31/crictl.yaml
  addons/containerd/1.6.31/host-preflight.yaml
  addons/containerd/1.6.31/install.sh
  addons/containerd/1.6.31/kubeadm-init-config-v1beta2.yaml
  addons/containerd/1.6.31/kubeadm-join-config-v1beta2.yaml
  hack/testdata/manifest/clean
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, containerd, type::chore, kurl::type::feature

#5145 test on centos 8 stream. expect preinstalled containerd 1.6.31+ on centos 8.4
  addons/containerd/1.6.31/install.sh
  addons/containerd/template/base/install.sh
  testgrid/specs/os-customer-common.yaml
  testgrid/specs/os-firstlast.yaml
  testgrid/specs/os-full.yaml
  testgrid/specs/os-latest.yaml
Labels: type::chore

#5146 Automated Kubernetes version update 1.29.4 1.28.9 1.27.13 1.26.15
  hack/testdata/manifest/clean
  packages/kubernetes/1.27.13/Manifest
  packages/kubernetes/1.27.13/conformance/Manifest
  packages/kubernetes/1.28.9/Manifest
  packages/kubernetes/1.28.9/conformance/Manifest
  packages/kubernetes/1.29.4/Manifest
  packages/kubernetes/1.29.4/conformance/Manifest
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, kubernetes, type::chore, kurl::type::feature

#5147 Automated Velero version update 1.13.2
  addons/velero/1.13.2/Manifest
  addons/velero/1.13.2/install.sh
  addons/velero/1.13.2/node-agent-daemonset-privileged.yaml
  addons/velero/1.13.2/s3-migration-configmap.yaml
  addons/velero/1.13.2/tmpl-change-storageclass.yaml
  addons/velero/1.13.2/tmpl-internal-snaps-deployment-patch.yaml
  addons/velero/1.13.2/tmpl-internal-snaps-ds-patch.yaml
  addons/velero/1.13.2/tmpl-internal-snaps-pvc.yaml
  addons/velero/1.13.2/tmpl-kotsadm-restore-config.yaml
  addons/velero/1.13.2/tmpl-kustomization.yaml
  addons/velero/1.13.2/tmpl-node-agent-daemonset-proxy.yaml
  addons/velero/1.13.2/tmpl-s3-migration-bsl.yaml
  addons/velero/1.13.2/tmpl-s3-migration-deployment-patch.yaml
  addons/velero/1.13.2/tmpl-s3-migration-secret.yaml
  addons/velero/1.13.2/tmpl-troubleshoot.yaml
  addons/velero/1.13.2/tmpl-velero-deployment-proxy.yaml
  web/src/installers/versions.js
Labels: automated-pr, velero, type::chore, kurl::type::feature

#5149 do not run containerd 1.6.31 tests on centos 8.1
  testgrid/specs/full.yaml
Labels: type::chore

#5148 Automated Containerd version update 1.6.31
  addons/containerd/1.5.10/install.sh
  addons/containerd/1.5.11/install.sh
  addons/containerd/1.6.10/install.sh
  addons/containerd/1.6.11/install.sh
  addons/containerd/1.6.12/install.sh
  addons/containerd/1.6.13/install.sh
  addons/containerd/1.6.14/install.sh
  addons/containerd/1.6.15/install.sh
  addons/containerd/1.6.16/install.sh
  addons/containerd/1.6.18/install.sh
  addons/containerd/1.6.19/install.sh
  addons/containerd/1.6.20/install.sh
  addons/containerd/1.6.21/install.sh
  addons/containerd/1.6.22/install.sh
  addons/containerd/1.6.24/install.sh
  addons/containerd/1.6.25/install.sh
  addons/containerd/1.6.26/install.sh
  addons/containerd/1.6.27/install.sh
  addons/containerd/1.6.28/install.sh
  addons/containerd/1.6.4/install.sh
  addons/containerd/1.6.6/install.sh
  addons/containerd/1.6.7/install.sh
  addons/containerd/1.6.8/install.sh
  addons/containerd/1.6.9/install.sh
Labels: automated-pr, containerd, type::chore, kurl::type::feature

#5152 Automated Kubernetes version update 1.30.0
  hack/testdata/manifest/clean
  packages/kubernetes/1.30.0/Manifest
  packages/kubernetes/1.30.0/conformance/Manifest
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, kubernetes, type::chore, kurl::type::feature

#5168 bug: list missing host package dependencies (rhel-9)
  scripts/common/host-packages.sh
Labels: type::bug, bug::normal

#5171 bug: stop installing sub-dependencies on rhel-9
  scripts/common/host-packages.sh
Labels: type::bug, bug::normal
