Repository replicatedhq/kURL, pull requests merged in 2024-05, with the labels that each got.

#5174 chore(tests): install dependencies on el 9 images
  testgrid/specs/os-firstlast.yaml
  testgrid/specs/os-full.yaml
  testgrid/specs/os-latest.yaml
Labels: type::chore

#5175 chore(tests): add missing el 9 packages
  testgrid/specs/os-firstlast.yaml
  testgrid/specs/os-full.yaml
  testgrid/specs/os-latest.yaml
Labels: type::chore

#5176 chore(test): add nfs-utils and --nobest option to yum
  testgrid/specs/os-firstlast.yaml
  testgrid/specs/os-full.yaml
  testgrid/specs/os-latest.yaml
Labels: type::chore

#5177 bug: retry creating installer for 1m
  scripts/common/yaml.sh
Labels: type::bug, bug::normal

#5186 Automated Kubernetes version update 1.28.10
  hack/testdata/manifest/clean
  packages/kubernetes/1.28.10/Manifest
  packages/kubernetes/1.28.10/conformance/Manifest
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, kubernetes, type::chore, kurl::type::feature

#5143 Automated Prometheus version update 0.73.2-58.5.2
  addons/prometheus/0.73.2-58.5.2/Manifest
  addons/prometheus/0.73.2-58.5.2/crds/crds.yaml
  addons/prometheus/0.73.2-58.5.2/crds/kustomization.yaml
  addons/prometheus/0.73.2-58.5.2/crds/preserveUnknown.yaml
  addons/prometheus/0.73.2-58.5.2/host-preflight.yaml
  addons/prometheus/0.73.2-58.5.2/install.sh
  addons/prometheus/0.73.2-58.5.2/nodeport-services.yaml
  addons/prometheus/0.73.2-58.5.2/operator/adapter.yaml
  addons/prometheus/0.73.2-58.5.2/operator/default.yaml
  addons/prometheus/0.73.2-58.5.2/operator/kustomization.yaml
  addons/prometheus/0.73.2-58.5.2/operator/longhorn.yaml
  addons/prometheus/0.73.2-58.5.2/operator/matchlabel-instance.yaml
  addons/prometheus/0.73.2-58.5.2/operator/matchlabel-release.yaml
  addons/prometheus/0.73.2-58.5.2/operator/ns.yaml
  addons/prometheus/0.73.2-58.5.2/operator/rook-ceph-rolebindings.yaml
  addons/prometheus/0.73.2-58.5.2/tmpl-grafana-secret.yaml
  web/src/installers/versions.js
Labels: automated-pr, prometheus, type::chore, kurl::type::feature

#5150 Automated MinIO version update RELEASE.2024-05-10T01-41-38Z
  addons/minio/2024-05-10T01-41-38Z/Manifest
  addons/minio/2024-05-10T01-41-38Z/deployment.yaml
  addons/minio/2024-05-10T01-41-38Z/install.sh
  addons/minio/2024-05-10T01-41-38Z/migrate-fs/hostpath/deployment.yaml
  addons/minio/2024-05-10T01-41-38Z/migrate-fs/hostpath/kustomization.yaml
  addons/minio/2024-05-10T01-41-38Z/migrate-fs/hostpath/original-service.yaml
  addons/minio/2024-05-10T01-41-38Z/migrate-fs/hostpath/service.yaml
  addons/minio/2024-05-10T01-41-38Z/migrate-fs/minio-backup-pvc.yaml
  addons/minio/2024-05-10T01-41-38Z/migrate-fs/minio-pvc.yaml
  addons/minio/2024-05-10T01-41-38Z/migrate-fs/pvc/deployment.yaml
  addons/minio/2024-05-10T01-41-38Z/migrate-fs/pvc/kustomization.yaml
  addons/minio/2024-05-10T01-41-38Z/migrate-fs/pvc/original-service.yaml
  addons/minio/2024-05-10T01-41-38Z/migrate-fs/pvc/pvc.yaml
  addons/minio/2024-05-10T01-41-38Z/migrate-fs/pvc/service.yaml
  addons/minio/2024-05-10T01-41-38Z/service.yaml
  addons/minio/2024-05-10T01-41-38Z/tmpl-creds-secret.yaml
  addons/minio/2024-05-10T01-41-38Z/tmpl-deployment-hostpath.yaml
  addons/minio/2024-05-10T01-41-38Z/tmpl-deployment-pvc.yaml
  addons/minio/2024-05-10T01-41-38Z/tmpl-ha-statefulset.yaml
  addons/minio/2024-05-10T01-41-38Z/tmpl-kustomization.yaml
  addons/minio/2024-05-10T01-41-38Z/tmpl-namespace.yaml
  addons/minio/2024-05-10T01-41-38Z/tmpl-pvc.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, minio, kurl::type::feature

#5190 Automated Velero version update 1.13.2
  addons/velero/1.13.2/Manifest
  addons/velero/1.13.2/install.sh
Labels: automated-pr, velero, type::chore, kurl::type::feature

#5187 Automated EKCO version update 0.28.7
  addons/ekco/0.28.6/Manifest
  addons/ekco/0.28.7/Manifest
  addons/ekco/0.28.7/README.md
  addons/ekco/0.28.7/configmap.tmpl.yaml
  addons/ekco/0.28.7/deployment.tmpl.yaml
  addons/ekco/0.28.7/ekco-purge-node.sh
  addons/ekco/0.28.7/install.sh
  addons/ekco/0.28.7/kustomization.yaml
  addons/ekco/0.28.7/namespace.yaml
  addons/ekco/0.28.7/rbac-kotsadm.yaml
  addons/ekco/0.28.7/rbac-minio.yaml
  addons/ekco/0.28.7/rbac-rook.yaml
  addons/ekco/0.28.7/rbac.yaml
  addons/ekco/0.28.7/reboot/ekco-reboot-containerd.service
  addons/ekco/0.28.7/reboot/ekco-reboot.service
  addons/ekco/0.28.7/reboot/shutdown.sh
  addons/ekco/0.28.7/reboot/startup.sh
  addons/ekco/0.28.7/regen-cert-pod.yaml
  addons/ekco/0.28.7/rolebinding-kotsadm.yaml
  addons/ekco/0.28.7/rolebinding-minio.yaml
  addons/ekco/0.28.7/rolebinding-rook.yaml
  addons/ekco/0.28.7/rolebinding.yaml
  addons/ekco/0.28.7/rotate-certs-rbac.yaml
  addons/ekco/0.28.7/service.tmpl.yaml
  addons/ekco/0.28.7/storageclass-scaling.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, ekco, kurl::type::feature

#5199 Automated EKCO version update 0.28.7
  addons/ekco/0.28.7/Manifest
  addons/ekco/0.28.7/install.sh
Labels: automated-pr, type::chore, ekco, kurl::type::feature

#5189 Automated Prometheus version update 0.74.0-59.0.0
  addons/prometheus/0.74.0-59.0.0/Manifest
  addons/prometheus/0.74.0-59.0.0/crds/crds.yaml
  addons/prometheus/0.74.0-59.0.0/crds/kustomization.yaml
  addons/prometheus/0.74.0-59.0.0/crds/preserveUnknown.yaml
  addons/prometheus/0.74.0-59.0.0/host-preflight.yaml
  addons/prometheus/0.74.0-59.0.0/install.sh
  addons/prometheus/0.74.0-59.0.0/nodeport-services.yaml
  addons/prometheus/0.74.0-59.0.0/operator/adapter.yaml
  addons/prometheus/0.74.0-59.0.0/operator/default.yaml
  addons/prometheus/0.74.0-59.0.0/operator/kustomization.yaml
  addons/prometheus/0.74.0-59.0.0/operator/longhorn.yaml
  addons/prometheus/0.74.0-59.0.0/operator/matchlabel-instance.yaml
  addons/prometheus/0.74.0-59.0.0/operator/matchlabel-release.yaml
  addons/prometheus/0.74.0-59.0.0/operator/ns.yaml
  addons/prometheus/0.74.0-59.0.0/operator/rook-ceph-rolebindings.yaml
  addons/prometheus/0.74.0-59.0.0/tmpl-grafana-secret.yaml
  web/src/installers/versions.js
Labels: automated-pr, prometheus, type::chore, kurl::type::feature

#5198 Automated Flannel version update 0.25.2
  addons/flannel/0.25.2/Manifest
  addons/flannel/0.25.2/flannel-ethtool.service
  addons/flannel/0.25.2/host-preflight.yaml
  addons/flannel/0.25.2/install.sh
  addons/flannel/0.25.2/kubeadm.yaml
  addons/flannel/0.25.2/template/iface.patch.tmpl.yaml
  addons/flannel/0.25.2/template/ipv6.patch.tmpl.yaml
  addons/flannel/0.25.2/template/kube-flannel-cfg.patch.tmpl.yaml
  addons/flannel/0.25.2/yaml/kube-flannel.yml
  addons/flannel/0.25.2/yaml/kustomization.yaml
  addons/flannel/0.25.2/yaml/troubleshoot.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, kurl::type::feature, flannel

#5209 support RHEL/OL 8.10 and RHEL/Rocky 9.4
  scripts/common/preflights.sh
  testgrid/specs/os-firstlast.yaml
Labels: type::feature

#5210 test rocky linux 9.4
  testgrid/specs/os-full.yaml
  testgrid/specs/os-latest.yaml
Labels: type::chore

#5212 do not attempt to test contour 1.29+ with k8s < 1.21
  testgrid/specs/full.yaml
Labels: type::chore

#5213 use a contour version that actually exists
  testgrid/specs/full.yaml
Labels: type::chore
