Repository replicatedhq/kURL, pull requests merged in 2024-03, with the labels that each got.

#5071 update flannel v0.24.2
  addons/flannel/0.24.2/flannel-ethtool.service
  addons/flannel/0.24.2/install.sh
  addons/flannel/template/base/install.sh
Labels: type::feature, flannel

#5104 Automated Kubernetes version update 1.29.3 1.28.8 1.27.12 1.26.15
  hack/testdata/manifest/clean
  packages/kubernetes/1.26.15/Manifest
  packages/kubernetes/1.26.15/conformance/Manifest
  packages/kubernetes/1.27.12/Manifest
  packages/kubernetes/1.27.12/conformance/Manifest
  packages/kubernetes/1.28.8/Manifest
  packages/kubernetes/1.28.8/conformance/Manifest
  packages/kubernetes/1.29.3/Manifest
  packages/kubernetes/1.29.3/conformance/Manifest
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, kubernetes, type::chore, kurl::type::feature

#5113 Automated Containerd version update 1.6.28
  addons/containerd/1.6.28/Manifest
Labels: automated-pr, containerd, type::chore, kurl::type::feature
