Repository replicatedhq/kURL, pull requests merged in 2024-06, with the labels that each got.

#5216 Automated Flannel version update 0.25.3
  addons/flannel/0.25.3/Manifest
  addons/flannel/0.25.3/flannel-ethtool.service
  addons/flannel/0.25.3/host-preflight.yaml
  addons/flannel/0.25.3/install.sh
  addons/flannel/0.25.3/kubeadm.yaml
  addons/flannel/0.25.3/template/iface.patch.tmpl.yaml
  addons/flannel/0.25.3/template/ipv6.patch.tmpl.yaml
  addons/flannel/0.25.3/template/kube-flannel-cfg.patch.tmpl.yaml
  addons/flannel/0.25.3/yaml/kube-flannel.yml
  addons/flannel/0.25.3/yaml/kustomization.yaml
  addons/flannel/0.25.3/yaml/troubleshoot.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, kurl::type::feature, flannel

#5228 Automated Kubernetes version update 1.28.11 1.27.15
  hack/testdata/manifest/clean
  packages/kubernetes/1.27.15/Manifest
  packages/kubernetes/1.27.15/conformance/Manifest
  packages/kubernetes/1.28.11/Manifest
  packages/kubernetes/1.28.11/conformance/Manifest
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, kubernetes, type::chore, kurl::type::feature

#5227 Automated Flannel version update 0.25.4
  addons/flannel/0.25.4/Manifest
  addons/flannel/0.25.4/flannel-ethtool.service
  addons/flannel/0.25.4/host-preflight.yaml
  addons/flannel/0.25.4/install.sh
  addons/flannel/0.25.4/kubeadm.yaml
  addons/flannel/0.25.4/template/iface.patch.tmpl.yaml
  addons/flannel/0.25.4/template/ipv6.patch.tmpl.yaml
  addons/flannel/0.25.4/template/kube-flannel-cfg.patch.tmpl.yaml
  addons/flannel/0.25.4/yaml/kube-flannel.yml
  addons/flannel/0.25.4/yaml/kustomization.yaml
  addons/flannel/0.25.4/yaml/troubleshoot.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, kurl::type::feature, flannel

#5229 no longer support installation on EOLed CentOS 8
  testgrid/specs/os-customer-common.yaml
  testgrid/specs/os-firstlast.yaml
  testgrid/specs/os-full.yaml
  testgrid/specs/os-latest.yaml
  testgrid/specs/os-removed.yaml
Labels: type::chore

#5231 Automated Kubernetes version update 1.30.2 1.29.6
  hack/testdata/manifest/clean
  packages/kubernetes/1.29.6/Manifest
  packages/kubernetes/1.29.6/conformance/Manifest
  packages/kubernetes/1.30.2/Manifest
  packages/kubernetes/1.30.2/conformance/Manifest
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, kubernetes, type::chore, kurl::type::feature

#5249 bookend the containerd image load process with logs
  addons/containerd/template/base/install.sh
Labels: type::chore

#5250 reset /var/lib/containerd and /var/lib/docker
  scripts/tasks.sh
Labels: type::feature
