Repository replicatedhq/kURL, pull requests merged in 2024-11, with the labels that each got.

#5456 fix: discover public address via imdsv2
  scripts/common/discover.sh
Labels: type::feature

#5455 Automated Containerd version update 1.6.33
  addons/containerd/1.6.10/Manifest
  addons/containerd/1.6.11/Manifest
  addons/containerd/1.6.12/Manifest
  addons/containerd/1.6.13/Manifest
  addons/containerd/1.6.14/Manifest
  addons/containerd/1.6.15/Manifest
  addons/containerd/1.6.16/Manifest
  addons/containerd/1.6.18/Manifest
  addons/containerd/1.6.19/Manifest
  addons/containerd/1.6.20/Manifest
  addons/containerd/1.6.21/Manifest
  addons/containerd/1.6.22/Manifest
  addons/containerd/1.6.24/Manifest
  addons/containerd/1.6.25/Manifest
  addons/containerd/1.6.26/Manifest
  addons/containerd/1.6.27/Manifest
  addons/containerd/1.6.28/Manifest
  addons/containerd/1.6.31/Manifest
  addons/containerd/1.6.32/Manifest
  addons/containerd/1.6.33/Manifest
  addons/containerd/1.6.4/Manifest
  addons/containerd/1.6.6/Manifest
  addons/containerd/1.6.7/Manifest
  addons/containerd/1.6.8/Manifest
  addons/containerd/1.6.9/Manifest
Labels: automated-pr, containerd, type::chore, kurl::type::feature

#5438 Automated Flannel version update 0.26.0
  addons/flannel/0.26.0/Manifest
  addons/flannel/0.26.0/flannel-ethtool.service
  addons/flannel/0.26.0/host-preflight.yaml
  addons/flannel/0.26.0/install.sh
  addons/flannel/0.26.0/kubeadm.yaml
  addons/flannel/0.26.0/template/iface.patch.tmpl.yaml
  addons/flannel/0.26.0/template/ipv6.patch.tmpl.yaml
  addons/flannel/0.26.0/template/kube-flannel-cfg.patch.tmpl.yaml
  addons/flannel/0.26.0/yaml/kube-flannel.yml
  addons/flannel/0.26.0/yaml/kustomization.yaml
  addons/flannel/0.26.0/yaml/troubleshoot.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, kurl::type::feature, flannel

#5380 Automated MinIO version update RELEASE.2024-10-29T16-01-48Z
  addons/minio/2024-10-29T16-01-48Z/Manifest
  addons/minio/2024-10-29T16-01-48Z/deployment.yaml
  addons/minio/2024-10-29T16-01-48Z/install.sh
  addons/minio/2024-10-29T16-01-48Z/migrate-fs/hostpath/deployment.yaml
  addons/minio/2024-10-29T16-01-48Z/migrate-fs/hostpath/kustomization.yaml
  addons/minio/2024-10-29T16-01-48Z/migrate-fs/hostpath/original-service.yaml
  addons/minio/2024-10-29T16-01-48Z/migrate-fs/hostpath/service.yaml
  addons/minio/2024-10-29T16-01-48Z/migrate-fs/minio-backup-pvc.yaml
  addons/minio/2024-10-29T16-01-48Z/migrate-fs/minio-pvc.yaml
  addons/minio/2024-10-29T16-01-48Z/migrate-fs/pvc/deployment.yaml
  addons/minio/2024-10-29T16-01-48Z/migrate-fs/pvc/kustomization.yaml
  addons/minio/2024-10-29T16-01-48Z/migrate-fs/pvc/original-service.yaml
  addons/minio/2024-10-29T16-01-48Z/migrate-fs/pvc/pvc.yaml
  addons/minio/2024-10-29T16-01-48Z/migrate-fs/pvc/service.yaml
  addons/minio/2024-10-29T16-01-48Z/service.yaml
  addons/minio/2024-10-29T16-01-48Z/tmpl-creds-secret.yaml
  addons/minio/2024-10-29T16-01-48Z/tmpl-deployment-hostpath.yaml
  addons/minio/2024-10-29T16-01-48Z/tmpl-deployment-pvc.yaml
  addons/minio/2024-10-29T16-01-48Z/tmpl-ha-statefulset.yaml
  addons/minio/2024-10-29T16-01-48Z/tmpl-kustomization.yaml
  addons/minio/2024-10-29T16-01-48Z/tmpl-namespace.yaml
  addons/minio/2024-10-29T16-01-48Z/tmpl-pvc.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, minio, kurl::type::feature

#5397 Automated Prometheus version update 0.77.2-65.8.0
  addons/prometheus/0.77.2-65.8.0/Manifest
  addons/prometheus/0.77.2-65.8.0/crds/crds.yaml
  addons/prometheus/0.77.2-65.8.0/crds/kustomization.yaml
  addons/prometheus/0.77.2-65.8.0/crds/preserveUnknown.yaml
  addons/prometheus/0.77.2-65.8.0/host-preflight.yaml
  addons/prometheus/0.77.2-65.8.0/install.sh
  addons/prometheus/0.77.2-65.8.0/nodeport-services.yaml
  addons/prometheus/0.77.2-65.8.0/operator/adapter.yaml
  addons/prometheus/0.77.2-65.8.0/operator/default.yaml
  addons/prometheus/0.77.2-65.8.0/operator/kustomization.yaml
  addons/prometheus/0.77.2-65.8.0/operator/longhorn.yaml
  addons/prometheus/0.77.2-65.8.0/operator/matchlabel-instance.yaml
  addons/prometheus/0.77.2-65.8.0/operator/matchlabel-release.yaml
  addons/prometheus/0.77.2-65.8.0/operator/ns.yaml
  addons/prometheus/0.77.2-65.8.0/operator/rook-ceph-rolebindings.yaml
  addons/prometheus/0.77.2-65.8.0/tmpl-grafana-secret.yaml
  web/src/installers/versions.js
Labels: automated-pr, prometheus, type::chore, kurl::type::feature

#5459 Revert "chore(deps): bump github.com/replicatedhq/troubleshoot from 0.107.3 to 0.108.0"
  go.mod
  go.sum
Labels: type::bug, bug::regression

#5462 fix: user provided public address is being overridden
  scripts/common/discover.sh
Labels: type::bug, bug::regression

#5463 chore(ci): test discover_public_ip does not unset var
  scripts/common/discover.sh
  scripts/common/test/discover-test.sh
Labels: type::chore

#5471 Reduce testing thus reducing AWS egress fees
  .github/workflows/cron-testgrid-daily.yaml
  .github/workflows/update-containerd.yaml
  .github/workflows/update-contour.yaml
  .github/workflows/update-ekco.yaml
  .github/workflows/update-flannel.yaml
  .github/workflows/update-goldpinger.yaml
  .github/workflows/update-kubernetes.yaml
  .github/workflows/update-metrics-server.yaml
  .github/workflows/update-minio.yaml
  .github/workflows/update-openebs.yaml
  .github/workflows/update-prometheus.yaml
  .github/workflows/update-registry.yaml
  .github/workflows/update-rook.yaml
  .github/workflows/update-sonobuoy.yaml
  .github/workflows/update-velero.yaml
  .github/workflows/update-weave.yaml
Labels: type::chore

#5472 chore(ci): disable creation of shortcut stories on dependabot build failures
  .github/workflows/dependabot-buildfailure.yaml
Labels: type::chore

#5476 Automated Containerd version update 1.6.33
  addons/containerd/1.6.10/Manifest
  addons/containerd/1.6.11/Manifest
  addons/containerd/1.6.12/Manifest
  addons/containerd/1.6.13/Manifest
  addons/containerd/1.6.14/Manifest
  addons/containerd/1.6.15/Manifest
  addons/containerd/1.6.16/Manifest
  addons/containerd/1.6.18/Manifest
  addons/containerd/1.6.19/Manifest
  addons/containerd/1.6.20/Manifest
  addons/containerd/1.6.21/Manifest
  addons/containerd/1.6.22/Manifest
  addons/containerd/1.6.24/Manifest
  addons/containerd/1.6.25/Manifest
  addons/containerd/1.6.26/Manifest
  addons/containerd/1.6.27/Manifest
  addons/containerd/1.6.28/Manifest
  addons/containerd/1.6.31/Manifest
  addons/containerd/1.6.32/Manifest
  addons/containerd/1.6.33/Manifest
  addons/containerd/1.6.4/Manifest
  addons/containerd/1.6.6/Manifest
  addons/containerd/1.6.7/Manifest
  addons/containerd/1.6.8/Manifest
  addons/containerd/1.6.9/Manifest
Labels: automated-pr, containerd, type::chore, kurl::type::feature

#5475 Automated Kubernetes version update 1.31.3 1.30.7 1.29.11 1.28.15 1.27.16
  hack/testdata/manifest/clean
  packages/kubernetes/1.29.11/Manifest
  packages/kubernetes/1.29.11/conformance/Manifest
  packages/kubernetes/1.30.7/Manifest
  packages/kubernetes/1.30.7/conformance/Manifest
  packages/kubernetes/1.31.3/Manifest
  packages/kubernetes/1.31.3/conformance/Manifest
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, kubernetes, type::chore, kurl::type::feature

#5460 Automated Flannel version update 0.26.1
  addons/flannel/0.26.1/Manifest
  addons/flannel/0.26.1/flannel-ethtool.service
  addons/flannel/0.26.1/host-preflight.yaml
  addons/flannel/0.26.1/install.sh
  addons/flannel/0.26.1/kubeadm.yaml
  addons/flannel/0.26.1/template/iface.patch.tmpl.yaml
  addons/flannel/0.26.1/template/ipv6.patch.tmpl.yaml
  addons/flannel/0.26.1/template/kube-flannel-cfg.patch.tmpl.yaml
  addons/flannel/0.26.1/yaml/kube-flannel.yml
  addons/flannel/0.26.1/yaml/kustomization.yaml
  addons/flannel/0.26.1/yaml/troubleshoot.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, kurl::type::feature, flannel

#5458 Automated Prometheus version update 0.78.2-66.2.2
  addons/prometheus/0.78.2-66.2.2/Manifest
  addons/prometheus/0.78.2-66.2.2/crds/crds.yaml
  addons/prometheus/0.78.2-66.2.2/crds/kustomization.yaml
  addons/prometheus/0.78.2-66.2.2/crds/preserveUnknown.yaml
  addons/prometheus/0.78.2-66.2.2/host-preflight.yaml
  addons/prometheus/0.78.2-66.2.2/install.sh
  addons/prometheus/0.78.2-66.2.2/nodeport-services.yaml
  addons/prometheus/0.78.2-66.2.2/operator/adapter.yaml
  addons/prometheus/0.78.2-66.2.2/operator/default.yaml
  addons/prometheus/0.78.2-66.2.2/operator/kustomization.yaml
  addons/prometheus/0.78.2-66.2.2/operator/longhorn.yaml
  addons/prometheus/0.78.2-66.2.2/operator/matchlabel-instance.yaml
  addons/prometheus/0.78.2-66.2.2/operator/matchlabel-release.yaml
  addons/prometheus/0.78.2-66.2.2/operator/ns.yaml
  addons/prometheus/0.78.2-66.2.2/operator/rook-ceph-rolebindings.yaml
  addons/prometheus/0.78.2-66.2.2/tmpl-grafana-secret.yaml
  web/src/installers/versions.js
Labels: automated-pr, prometheus, type::chore, kurl::type::feature
