Repository replicatedhq/kURL, pull requests merged in 2024-02, with the labels that each got.

#5060 Automated Containerd version update 1.6.28
  addons/containerd/1.6.10/Manifest
  addons/containerd/1.6.11/Manifest
  addons/containerd/1.6.12/Manifest
  addons/containerd/1.6.13/Manifest
  addons/containerd/1.6.14/Manifest
  addons/containerd/1.6.15/Manifest
  addons/containerd/1.6.16/Manifest
  addons/containerd/1.6.18/Manifest
  addons/containerd/1.6.19/Manifest
  addons/containerd/1.6.20/Manifest
  addons/containerd/1.6.21/Manifest
  addons/containerd/1.6.22/Manifest
  addons/containerd/1.6.24/Manifest
  addons/containerd/1.6.25/Manifest
  addons/containerd/1.6.26/Manifest
  addons/containerd/1.6.27/Manifest
  addons/containerd/1.6.28/Manifest
  addons/containerd/1.6.28/crictl.yaml
  addons/containerd/1.6.28/host-preflight.yaml
  addons/containerd/1.6.28/install.sh
  addons/containerd/1.6.28/kubeadm-init-config-v1beta2.yaml
  addons/containerd/1.6.28/kubeadm-join-config-v1beta2.yaml
  addons/containerd/1.6.4/Manifest
  addons/containerd/1.6.6/Manifest
  addons/containerd/1.6.7/Manifest
  addons/containerd/1.6.8/Manifest
  addons/containerd/1.6.9/Manifest
  hack/testdata/manifest/clean
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, containerd, type::chore, kurl::type::feature

#5043 Automated Flannel version update 0.24.2
  addons/flannel/0.24.2/Manifest
  addons/flannel/0.24.2/host-preflight.yaml
  addons/flannel/0.24.2/install.sh
  addons/flannel/0.24.2/kubeadm.yaml
  addons/flannel/0.24.2/template/iface.patch.tmpl.yaml
  addons/flannel/0.24.2/template/ipv6.patch.tmpl.yaml
  addons/flannel/0.24.2/template/kube-flannel-cfg.patch.tmpl.yaml
  addons/flannel/0.24.2/yaml/kube-flannel.yml
  addons/flannel/0.24.2/yaml/kustomization.yaml
  addons/flannel/0.24.2/yaml/troubleshoot.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, kurl::type::feature, flannel

#4970 Automated Prometheus version update 0.71.2-56.6.0
  addons/prometheus/0.71.2-56.6.0/Manifest
  addons/prometheus/0.71.2-56.6.0/crds/crds.yaml
  addons/prometheus/0.71.2-56.6.0/crds/kustomization.yaml
  addons/prometheus/0.71.2-56.6.0/crds/preserveUnknown.yaml
  addons/prometheus/0.71.2-56.6.0/host-preflight.yaml
  addons/prometheus/0.71.2-56.6.0/install.sh
  addons/prometheus/0.71.2-56.6.0/nodeport-services.yaml
  addons/prometheus/0.71.2-56.6.0/operator/adapter.yaml
  addons/prometheus/0.71.2-56.6.0/operator/default.yaml
  addons/prometheus/0.71.2-56.6.0/operator/kustomization.yaml
  addons/prometheus/0.71.2-56.6.0/operator/longhorn.yaml
  addons/prometheus/0.71.2-56.6.0/operator/matchlabel-instance.yaml
  addons/prometheus/0.71.2-56.6.0/operator/matchlabel-release.yaml
  addons/prometheus/0.71.2-56.6.0/operator/ns.yaml
  addons/prometheus/0.71.2-56.6.0/operator/rook-ceph-rolebindings.yaml
  addons/prometheus/0.71.2-56.6.0/tmpl-grafana-secret.yaml
  web/src/installers/versions.js
Labels: automated-pr, prometheus, type::chore, kurl::type::feature

#5024 Automated MinIO version update RELEASE.2024-01-31T20-20-33Z
  addons/minio/2024-01-31T20-20-33Z/Manifest
  addons/minio/2024-01-31T20-20-33Z/deployment.yaml
  addons/minio/2024-01-31T20-20-33Z/install.sh
  addons/minio/2024-01-31T20-20-33Z/migrate-fs/hostpath/deployment.yaml
  addons/minio/2024-01-31T20-20-33Z/migrate-fs/hostpath/kustomization.yaml
  addons/minio/2024-01-31T20-20-33Z/migrate-fs/hostpath/original-service.yaml
  addons/minio/2024-01-31T20-20-33Z/migrate-fs/hostpath/service.yaml
  addons/minio/2024-01-31T20-20-33Z/migrate-fs/minio-backup-pvc.yaml
  addons/minio/2024-01-31T20-20-33Z/migrate-fs/minio-pvc.yaml
  addons/minio/2024-01-31T20-20-33Z/migrate-fs/pvc/deployment.yaml
  addons/minio/2024-01-31T20-20-33Z/migrate-fs/pvc/kustomization.yaml
  addons/minio/2024-01-31T20-20-33Z/migrate-fs/pvc/original-service.yaml
  addons/minio/2024-01-31T20-20-33Z/migrate-fs/pvc/pvc.yaml
  addons/minio/2024-01-31T20-20-33Z/migrate-fs/pvc/service.yaml
  addons/minio/2024-01-31T20-20-33Z/service.yaml
  addons/minio/2024-01-31T20-20-33Z/tmpl-creds-secret.yaml
  addons/minio/2024-01-31T20-20-33Z/tmpl-deployment-hostpath.yaml
  addons/minio/2024-01-31T20-20-33Z/tmpl-deployment-pvc.yaml
  addons/minio/2024-01-31T20-20-33Z/tmpl-ha-statefulset.yaml
  addons/minio/2024-01-31T20-20-33Z/tmpl-kustomization.yaml
  addons/minio/2024-01-31T20-20-33Z/tmpl-namespace.yaml
  addons/minio/2024-01-31T20-20-33Z/tmpl-pvc.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, minio, kurl::type::feature

#5042 Automated EKCO version update 0.28.4
  addons/ekco/0.28.4/Manifest
  addons/ekco/0.28.4/install.sh
Labels: automated-pr, type::chore, ekco, kurl::type::feature

#5062 do not rebuild old k8s packages when uploading versioned releases
  bin/upload-dist-staging.sh
  bin/upload-dist-versioned.sh
Labels: type::bug, bug::normal

#5058 bug: Use the correct nf_conntrack module depending on kernel
  scripts/common/kubernetes.sh
Labels: type::feature

#5041 systemd drop-in to set checksum offloading off on flannel iface
  addons/flannel/template/base/flannel-ethtool.service
  addons/flannel/template/base/install.sh
Labels: type::feature, echoes/effort: S, peer-review-needed, flannel

#5063 additional fixes to old k8s builds
  .github/workflows/deploy-prod.yaml
  .github/workflows/deploy-staging.yaml
  bin/upload-dist-versioned.sh
Labels: type::chore

#5064 copy old k8s releases from last kurl release (v2024.01.09-0)
  bin/upload-dist-versioned.sh
Labels: type::chore

#5069 always run kube-bench v0.7.0
  testgrid/specs/deploy.yaml
Labels: type::chore

#5066 Automated MinIO version update RELEASE.2024-02-04T22-36-13Z
  addons/minio/2024-01-31T20-20-33Z/Manifest
  addons/minio/2024-02-04T22-36-13Z/Manifest
  addons/minio/2024-02-04T22-36-13Z/deployment.yaml
  addons/minio/2024-02-04T22-36-13Z/install.sh
  addons/minio/2024-02-04T22-36-13Z/migrate-fs/hostpath/deployment.yaml
  addons/minio/2024-02-04T22-36-13Z/migrate-fs/hostpath/kustomization.yaml
  addons/minio/2024-02-04T22-36-13Z/migrate-fs/hostpath/original-service.yaml
  addons/minio/2024-02-04T22-36-13Z/migrate-fs/hostpath/service.yaml
  addons/minio/2024-02-04T22-36-13Z/migrate-fs/minio-backup-pvc.yaml
  addons/minio/2024-02-04T22-36-13Z/migrate-fs/minio-pvc.yaml
  addons/minio/2024-02-04T22-36-13Z/migrate-fs/pvc/deployment.yaml
  addons/minio/2024-02-04T22-36-13Z/migrate-fs/pvc/kustomization.yaml
  addons/minio/2024-02-04T22-36-13Z/migrate-fs/pvc/original-service.yaml
  addons/minio/2024-02-04T22-36-13Z/migrate-fs/pvc/pvc.yaml
  addons/minio/2024-02-04T22-36-13Z/migrate-fs/pvc/service.yaml
  addons/minio/2024-02-04T22-36-13Z/service.yaml
  addons/minio/2024-02-04T22-36-13Z/tmpl-creds-secret.yaml
  addons/minio/2024-02-04T22-36-13Z/tmpl-deployment-hostpath.yaml
  addons/minio/2024-02-04T22-36-13Z/tmpl-deployment-pvc.yaml
  addons/minio/2024-02-04T22-36-13Z/tmpl-ha-statefulset.yaml
  addons/minio/2024-02-04T22-36-13Z/tmpl-kustomization.yaml
  addons/minio/2024-02-04T22-36-13Z/tmpl-namespace.yaml
  addons/minio/2024-02-04T22-36-13Z/tmpl-pvc.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, minio, kurl::type::feature

#5078 Automated Kubernetes version update 1.29.2 1.28.7 1.27.11 1.26.14
  hack/testdata/manifest/clean
  packages/kubernetes/1.26.14/Manifest
  packages/kubernetes/1.26.14/conformance/Manifest
  packages/kubernetes/1.27.11/Manifest
  packages/kubernetes/1.27.11/conformance/Manifest
  packages/kubernetes/1.28.7/Manifest
  packages/kubernetes/1.28.7/conformance/Manifest
  packages/kubernetes/1.29.2/Manifest
  packages/kubernetes/1.29.2/conformance/Manifest
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, kubernetes, type::chore, kurl::type::feature

#5070 Automated MinIO version update RELEASE.2024-02-17T01-15-57Z
  addons/minio/2024-02-17T01-15-57Z/Manifest
  addons/minio/2024-02-17T01-15-57Z/deployment.yaml
  addons/minio/2024-02-17T01-15-57Z/install.sh
  addons/minio/2024-02-17T01-15-57Z/migrate-fs/hostpath/deployment.yaml
  addons/minio/2024-02-17T01-15-57Z/migrate-fs/hostpath/kustomization.yaml
  addons/minio/2024-02-17T01-15-57Z/migrate-fs/hostpath/original-service.yaml
  addons/minio/2024-02-17T01-15-57Z/migrate-fs/hostpath/service.yaml
  addons/minio/2024-02-17T01-15-57Z/migrate-fs/minio-backup-pvc.yaml
  addons/minio/2024-02-17T01-15-57Z/migrate-fs/minio-pvc.yaml
  addons/minio/2024-02-17T01-15-57Z/migrate-fs/pvc/deployment.yaml
  addons/minio/2024-02-17T01-15-57Z/migrate-fs/pvc/kustomization.yaml
  addons/minio/2024-02-17T01-15-57Z/migrate-fs/pvc/original-service.yaml
  addons/minio/2024-02-17T01-15-57Z/migrate-fs/pvc/pvc.yaml
  addons/minio/2024-02-17T01-15-57Z/migrate-fs/pvc/service.yaml
  addons/minio/2024-02-17T01-15-57Z/service.yaml
  addons/minio/2024-02-17T01-15-57Z/tmpl-creds-secret.yaml
  addons/minio/2024-02-17T01-15-57Z/tmpl-deployment-hostpath.yaml
  addons/minio/2024-02-17T01-15-57Z/tmpl-deployment-pvc.yaml
  addons/minio/2024-02-17T01-15-57Z/tmpl-ha-statefulset.yaml
  addons/minio/2024-02-17T01-15-57Z/tmpl-kustomization.yaml
  addons/minio/2024-02-17T01-15-57Z/tmpl-namespace.yaml
  addons/minio/2024-02-17T01-15-57Z/tmpl-pvc.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, minio, kurl::type::feature

#5080 Automated EKCO version update 0.28.4
  addons/ekco/0.28.4/Manifest
  addons/ekco/0.28.4/install.sh
Labels: automated-pr, type::chore, ekco, kurl::type::feature

#5087 hardcode kube-bench v0.7.0 to fix 'glibc X not found' errors
  testgrid/specs/full.yaml
Labels: type::chore

#5090 Automated EKCO version update 0.28.4
  addons/ekco/0.28.4/Manifest
  addons/ekco/0.28.4/install.sh
Labels: automated-pr, type::chore, ekco, kurl::type::feature
