Repository replicatedhq/kURL, pull requests merged in 2025-03, with the labels that each got.

#5605 Automated Flannel version update 0.26.5
  addons/flannel/0.26.5/Manifest
  addons/flannel/0.26.5/flannel-ethtool.service
  addons/flannel/0.26.5/host-preflight.yaml
  addons/flannel/0.26.5/install.sh
  addons/flannel/0.26.5/kubeadm.yaml
  addons/flannel/0.26.5/template/iface.patch.tmpl.yaml
  addons/flannel/0.26.5/template/ipv6.patch.tmpl.yaml
  addons/flannel/0.26.5/template/kube-flannel-cfg.patch.tmpl.yaml
  addons/flannel/0.26.5/yaml/kube-flannel.yml
  addons/flannel/0.26.5/yaml/kustomization.yaml
  addons/flannel/0.26.5/yaml/troubleshoot.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, kurl::type::feature, flannel

#5592 Automated Containerd version update 1.7.25
  addons/containerd/1.6.28/Manifest
  addons/containerd/1.6.31/Manifest
  addons/containerd/1.6.32/Manifest
  addons/containerd/1.6.33/Manifest
  addons/containerd/1.7.25/Manifest
Labels: automated-pr, containerd, type::chore, kurl::type::feature

#5603 Updating the cosign library for Github Actions
  .github/workflows/deploy-prod.yaml
  Makefile
Labels: type::chore

#5612 Automated Kubernetes version update 1.32.3 1.31.7 1.30.11 1.29.15
  hack/testdata/manifest/clean
  packages/kubernetes/1.29.15/Manifest
  packages/kubernetes/1.29.15/conformance/Manifest
  packages/kubernetes/1.30.11/Manifest
  packages/kubernetes/1.30.11/conformance/Manifest
  packages/kubernetes/1.31.7/Manifest
  packages/kubernetes/1.31.7/conformance/Manifest
  packages/kubernetes/1.32.3/Manifest
  packages/kubernetes/1.32.3/conformance/Manifest
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, kubernetes, type::chore, kurl::type::feature

#5589 Automated Prometheus version update 0.81.0-70.0.2
  addons/prometheus/0.81.0-70.0.2/Manifest
  addons/prometheus/0.81.0-70.0.2/crds/crds.yaml
  addons/prometheus/0.81.0-70.0.2/crds/kustomization.yaml
  addons/prometheus/0.81.0-70.0.2/crds/preserveUnknown.yaml
  addons/prometheus/0.81.0-70.0.2/host-preflight.yaml
  addons/prometheus/0.81.0-70.0.2/install.sh
  addons/prometheus/0.81.0-70.0.2/nodeport-services.yaml
  addons/prometheus/0.81.0-70.0.2/operator/adapter.yaml
  addons/prometheus/0.81.0-70.0.2/operator/default.yaml
  addons/prometheus/0.81.0-70.0.2/operator/kustomization.yaml
  addons/prometheus/0.81.0-70.0.2/operator/longhorn.yaml
  addons/prometheus/0.81.0-70.0.2/operator/matchlabel-instance.yaml
  addons/prometheus/0.81.0-70.0.2/operator/matchlabel-release.yaml
  addons/prometheus/0.81.0-70.0.2/operator/ns.yaml
  addons/prometheus/0.81.0-70.0.2/operator/rook-ceph-rolebindings.yaml
  addons/prometheus/0.81.0-70.0.2/tmpl-grafana-secret.yaml
  web/src/installers/versions.js
Labels: automated-pr, prometheus, type::chore, kurl::type::feature

#5625 update helmfile to v0.171.0
  bundles/helm/Dockerfile
Labels: type::chore

#5626 fix helmfile download
  bundles/helm/Dockerfile
Labels: type::chore

#5629 go mod updates
  .golangci.bck.yml
  .golangci.yml
  Makefile
  go.mod
  go.sum
  kurl_util/cmd/network/main.go
  kurl_util/cmd/veleroplugin/main_test.go
  kurl_util/cmd/vendorflights/main_test.go
  kurl_util/cmd/yamltobash/main.go
  kurl_util/cmd/yamltobash/main_test.go
  pkg/cli/cluster.go
  pkg/cli/cluster_free_disk_space.go
  pkg/cli/cluster_migrate_multinode_storage.go
  pkg/cli/host.go
  pkg/cli/host_preflight.go
  pkg/cli/host_preflight_test.go
  pkg/cli/host_protectedid.go
  pkg/cli/hostname.go
  pkg/cli/longhorn.go
  pkg/cli/longhorn_test.go
  pkg/cli/netutil.go
  pkg/cli/nodes_connectivity.go
  pkg/cli/object_store.go
  pkg/cli/rook.go
  pkg/cli/rook_flexvolume_to_csi.go
  pkg/cli/rook_has_sufficient_blockdevices.go
  pkg/cli/rook_health.go
  pkg/cli/rook_hostpath_to_block.go
  pkg/cli/root.go
  pkg/cli/version.go
  pkg/cluster/nodes.go
  pkg/cluster/nodes_test.go
  pkg/cluster/space/openebs_disk_space_validator.go
  pkg/cluster/space/openebs_free_disk_space_getter_test.go
  pkg/cluster/space/rook_disk_space_validator.go
  pkg/installer/template.go
  pkg/installer/template_test.go
  pkg/k8sutil/apply.go
  pkg/k8sutil/exec.go
  pkg/k8sutil/job.go
  pkg/preflight/builtin.go
  pkg/preflight/builtin_test.go
  pkg/rook/cephtypes/status.go
  pkg/rook/flexvolume.go
  pkg/rook/flexvolume_test.go
  pkg/rook/health_test.go
  pkg/rook/toolbox.go
  pkg/rook/toolbox_test.go
Labels: type::chore

#5631 Automated Rook version update 1.16.6
  addons/rook/1.16.6/Manifest
  addons/rook/1.16.6/cluster/cephfs/cephfs-storageclass.yaml
  addons/rook/1.16.6/cluster/cephfs/filesystem.yaml
  addons/rook/1.16.6/cluster/cephfs/patches/cephfs-storageclass.yaml
  addons/rook/1.16.6/cluster/cephfs/patches/filesystem-singlenode.yaml
  addons/rook/1.16.6/cluster/cephfs/patches/tmpl-filesystem-Json6902.yaml
  addons/rook/1.16.6/cluster/cephfs/patches/tmpl-filesystem.yaml
  addons/rook/1.16.6/cluster/cluster.yaml
  addons/rook/1.16.6/cluster/kustomization.yaml
  addons/rook/1.16.6/cluster/object-user.yaml
  addons/rook/1.16.6/cluster/object.yaml
  addons/rook/1.16.6/cluster/patches/ceph-cluster-tolerate.yaml
  addons/rook/1.16.6/cluster/patches/cluster-nodes.tmpl.yaml
  addons/rook/1.16.6/cluster/patches/object-Json6902.yaml
  addons/rook/1.16.6/cluster/patches/tmpl-cluster.yaml
  addons/rook/1.16.6/cluster/patches/tmpl-object.yaml
  addons/rook/1.16.6/cluster/patches/tmpl-rbd-storageclass.yaml
  addons/rook/1.16.6/cluster/tmpl-rbd-storageclass.yaml
  addons/rook/1.16.6/crds.yaml
  addons/rook/1.16.6/host-preflight.yaml
  addons/rook/1.16.6/install.sh
  addons/rook/1.16.6/monitoring/ceph-cluster-dashboard.yaml
  addons/rook/1.16.6/monitoring/kustomization.yaml
  addons/rook/1.16.6/monitoring/rook-ceph-servicemonitor.yaml
  addons/rook/1.16.6/operator/cluster-rbac.yaml
  addons/rook/1.16.6/operator/clusterrole.yaml
  addons/rook/1.16.6/operator/clusterrolebinding.yaml
  addons/rook/1.16.6/operator/configmap-rook-config-override.yaml
  addons/rook/1.16.6/operator/configmap.yaml
  addons/rook/1.16.6/operator/deployment.yaml
  addons/rook/1.16.6/operator/kustomization.yaml
  addons/rook/1.16.6/operator/namespace.yaml
  addons/rook/1.16.6/operator/patches/deployment-privileged.yaml
  addons/rook/1.16.6/operator/patches/deployment-tolerations.yaml
  addons/rook/1.16.6/operator/role.yaml
  addons/rook/1.16.6/operator/rolebinding.yaml
  addons/rook/1.16.6/operator/securityContextConstraints.yaml
  addons/rook/1.16.6/operator/serviceaccount.yaml
  addons/rook/1.16.6/operator/toolbox.yaml
  hack/testdata/manifest/clean
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, rook, type::chore, kurl::type::feature
