Repository replicatedhq/kURL, pull requests merged in 2025-07, with the labels that each got.

#5709 chore(ci): group dependabot go updates
  .github/dependabot.yml
Labels: type::chore

#5710 chore(ci): update go to 1.24.4
  Makefile
  go.mod
  go.sum
  kurl_util/deploy/Dockerfile
  pkg/cli/cluster_free_disk_space.go
  pkg/cli/longhorn.go
Labels: type::chore

#5713 chore: dependabot security group only patches
  .github/dependabot.yml
Labels: type::chore

#5720 chore: bump helm version
  bundles/helm/Dockerfile
Labels: type::chore

#5728 chore: support RHEL 9.6 and Rocky 9.6
  scripts/common/preflights.sh
  testgrid/specs/os-firstlast.yaml
  testgrid/specs/os-full.yaml
  testgrid/specs/os-latest.yaml
Labels: type::chore

#5730 bug: fix krew dockerfile
  bundles/krew/Dockerfile
Labels: type::bug, bug::normal

#5723 Automated EKCO version update 0.28.10
  addons/ekco/0.28.10/Manifest
  addons/ekco/0.28.10/README.md
  addons/ekco/0.28.10/configmap.tmpl.yaml
  addons/ekco/0.28.10/deployment.tmpl.yaml
  addons/ekco/0.28.10/ekco-purge-node.sh
  addons/ekco/0.28.10/install.sh
  addons/ekco/0.28.10/kustomization.yaml
  addons/ekco/0.28.10/namespace.yaml
  addons/ekco/0.28.10/rbac-kotsadm.yaml
  addons/ekco/0.28.10/rbac-minio.yaml
  addons/ekco/0.28.10/rbac-rook.yaml
  addons/ekco/0.28.10/rbac.yaml
  addons/ekco/0.28.10/reboot/ekco-reboot-containerd.service
  addons/ekco/0.28.10/reboot/ekco-reboot.service
  addons/ekco/0.28.10/reboot/shutdown.sh
  addons/ekco/0.28.10/reboot/startup.sh
  addons/ekco/0.28.10/regen-cert-pod.yaml
  addons/ekco/0.28.10/rolebinding-kotsadm.yaml
  addons/ekco/0.28.10/rolebinding-minio.yaml
  addons/ekco/0.28.10/rolebinding-rook.yaml
  addons/ekco/0.28.10/rolebinding.yaml
  addons/ekco/0.28.10/rotate-certs-rbac.yaml
  addons/ekco/0.28.10/service.tmpl.yaml
  addons/ekco/0.28.10/storageclass-scaling.yaml
  addons/ekco/0.28.9/Manifest
  web/src/installers/versions.js
Labels: automated-pr, type::chore, ekco, kurl::type::feature

#5646 Automated Flannel version update 0.27.1
  addons/flannel/0.27.1/Manifest
  addons/flannel/0.27.1/flannel-ethtool.service
  addons/flannel/0.27.1/host-preflight.yaml
  addons/flannel/0.27.1/install.sh
  addons/flannel/0.27.1/kubeadm.yaml
  addons/flannel/0.27.1/template/iface.patch.tmpl.yaml
  addons/flannel/0.27.1/template/ipv6.patch.tmpl.yaml
  addons/flannel/0.27.1/template/kube-flannel-cfg.patch.tmpl.yaml
  addons/flannel/0.27.1/yaml/kube-flannel.yml
  addons/flannel/0.27.1/yaml/kustomization.yaml
  addons/flannel/0.27.1/yaml/troubleshoot.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, kurl::type::feature, flannel

#5732 Automated Registry version update 3.0.0
  addons/registry/3.0.0/Manifest
  addons/registry/3.0.0/patch-deployment-migrate-s3.yaml
  addons/registry/3.0.0/patch-deployment-velero.yaml
Labels: automated-pr, type::chore, kurl::type::feature, registry

#5682 Automated OpenEBS version update 4.3.0
  addons/openebs/4.3.0/Manifest
  addons/openebs/4.3.0/install.sh
  addons/openebs/4.3.0/spec/openebs.tmpl.yaml
  addons/openebs/4.3.0/spec/storage/kustomization.yaml
  addons/openebs/4.3.0/spec/storage/tmpl-localpv-storage-class.yaml
  addons/openebs/4.3.0/spec/storage/tmpl-patch-localpv-default.yaml
  addons/openebs/4.3.0/spec/tmpl-kustomization.yaml
  addons/openebs/4.3.0/spec/tmpl-namespace.yaml
  addons/openebs/4.3.0/spec/tmpl-troubleshoot.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, openebs, kurl::type::feature, auto-merge

#5307 Automated Contour version update 1.32.0
  addons/contour/1.32.0/Manifest
  addons/contour/1.32.0/contour.yaml
  addons/contour/1.32.0/install.sh
  addons/contour/1.32.0/patches/job-image.yaml
  addons/contour/1.32.0/patches/resource-limits.yaml
  addons/contour/1.32.0/tmpl-configmap.yaml
  addons/contour/1.32.0/tmpl-kustomization.yaml
  addons/contour/1.32.0/tmpl-namespace.yaml
  addons/contour/1.32.0/tmpl-service-patch.yaml
  web/src/installers/versions.js
Labels: automated-pr, contour, type::chore, kurl::type::feature

#5737 Automated Flannel version update 0.27.2
  addons/flannel/0.27.2/Manifest
  addons/flannel/0.27.2/flannel-ethtool.service
  addons/flannel/0.27.2/host-preflight.yaml
  addons/flannel/0.27.2/install.sh
  addons/flannel/0.27.2/kubeadm.yaml
  addons/flannel/0.27.2/template/iface.patch.tmpl.yaml
  addons/flannel/0.27.2/template/ipv6.patch.tmpl.yaml
  addons/flannel/0.27.2/template/kube-flannel-cfg.patch.tmpl.yaml
  addons/flannel/0.27.2/yaml/kube-flannel.yml
  addons/flannel/0.27.2/yaml/kustomization.yaml
  addons/flannel/0.27.2/yaml/troubleshoot.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, kurl::type::feature, flannel
