Repository replicatedhq/kURL, pull requests merged in 2025-08, with the labels that each got.

#5738 Automated Rook version update 1.17.7
  addons/rook/1.17.7/Manifest
  addons/rook/1.17.7/cluster/cephfs/cephfs-storageclass.yaml
  addons/rook/1.17.7/cluster/cephfs/filesystem.yaml
  addons/rook/1.17.7/cluster/cephfs/patches/cephfs-storageclass.yaml
  addons/rook/1.17.7/cluster/cephfs/patches/filesystem-singlenode.yaml
  addons/rook/1.17.7/cluster/cephfs/patches/tmpl-filesystem-Json6902.yaml
  addons/rook/1.17.7/cluster/cephfs/patches/tmpl-filesystem.yaml
  addons/rook/1.17.7/cluster/cluster.yaml
  addons/rook/1.17.7/cluster/kustomization.yaml
  addons/rook/1.17.7/cluster/object-user.yaml
  addons/rook/1.17.7/cluster/object.yaml
  addons/rook/1.17.7/cluster/patches/ceph-cluster-tolerate.yaml
  addons/rook/1.17.7/cluster/patches/cluster-nodes.tmpl.yaml
  addons/rook/1.17.7/cluster/patches/object-Json6902.yaml
  addons/rook/1.17.7/cluster/patches/tmpl-cluster.yaml
  addons/rook/1.17.7/cluster/patches/tmpl-object.yaml
  addons/rook/1.17.7/cluster/patches/tmpl-rbd-storageclass.yaml
  addons/rook/1.17.7/cluster/tmpl-rbd-storageclass.yaml
  addons/rook/1.17.7/crds.yaml
  addons/rook/1.17.7/host-preflight.yaml
  addons/rook/1.17.7/install.sh
  addons/rook/1.17.7/monitoring/ceph-cluster-dashboard.yaml
  addons/rook/1.17.7/monitoring/kustomization.yaml
  addons/rook/1.17.7/monitoring/rook-ceph-servicemonitor.yaml
  addons/rook/1.17.7/operator/cluster-rbac.yaml
  addons/rook/1.17.7/operator/clusterrole.yaml
  addons/rook/1.17.7/operator/clusterrolebinding.yaml
  addons/rook/1.17.7/operator/configmap-rook-config-override.yaml
  addons/rook/1.17.7/operator/configmap.yaml
  addons/rook/1.17.7/operator/deployment.yaml
  addons/rook/1.17.7/operator/kustomization.yaml
  addons/rook/1.17.7/operator/namespace.yaml
  addons/rook/1.17.7/operator/patches/deployment-privileged.yaml
  addons/rook/1.17.7/operator/patches/deployment-tolerations.yaml
  addons/rook/1.17.7/operator/role.yaml
  addons/rook/1.17.7/operator/rolebinding.yaml
  addons/rook/1.17.7/operator/securityContextConstraints.yaml
  addons/rook/1.17.7/operator/serviceaccount.yaml
  addons/rook/1.17.7/operator/toolbox.yaml
  hack/testdata/manifest/clean
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, rook, type::chore, kurl::type::feature

#5746 Automated Contour version update 1.32.1
  addons/contour/1.32.1/Manifest
  addons/contour/1.32.1/contour.yaml
  addons/contour/1.32.1/install.sh
  addons/contour/1.32.1/patches/job-image.yaml
  addons/contour/1.32.1/patches/resource-limits.yaml
  addons/contour/1.32.1/tmpl-configmap.yaml
  addons/contour/1.32.1/tmpl-kustomization.yaml
  addons/contour/1.32.1/tmpl-namespace.yaml
  addons/contour/1.32.1/tmpl-service-patch.yaml
  web/src/installers/versions.js
Labels: automated-pr, contour, type::chore, kurl::type::feature

#5751 chore(metrics-server): update to version 0.8.0
  addons/metrics-server/0.8.0/Manifest
  addons/metrics-server/0.8.0/components.yaml
  addons/metrics-server/0.8.0/install.sh
  addons/metrics-server/0.8.0/kubelet-insecure-tls.yaml
  addons/metrics-server/0.8.0/kustomization.yaml
  addons/metrics-server/template/testgrid/k8s-docker.yaml
  web/src/installers/versions.js
Labels: type::chore

#5752 chore(kurl-util): update go version
  kurl_util/deploy/Dockerfile
Labels: type::chore

#5760 Automated Kubernetes version update 1.33.4 1.32.8 1.31.12 1.30.14
  hack/testdata/manifest/clean
  packages/kubernetes/1.33.4/Manifest
  packages/kubernetes/1.33.4/conformance/Manifest
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, kubernetes, type::chore, kurl::type::feature

#5766 chore(ci): unsupported testgrid oses
  testgrid/specs/deploy.yaml
  testgrid/specs/os-full.yaml
Labels: type::chore

#5770 Automated EKCO version update 0.28.11
  addons/ekco/0.28.10/Manifest
  addons/ekco/0.28.11/Manifest
  addons/ekco/0.28.11/README.md
  addons/ekco/0.28.11/configmap.tmpl.yaml
  addons/ekco/0.28.11/deployment.tmpl.yaml
  addons/ekco/0.28.11/ekco-purge-node.sh
  addons/ekco/0.28.11/install.sh
  addons/ekco/0.28.11/kustomization.yaml
  addons/ekco/0.28.11/namespace.yaml
  addons/ekco/0.28.11/rbac-kotsadm.yaml
  addons/ekco/0.28.11/rbac-minio.yaml
  addons/ekco/0.28.11/rbac-rook.yaml
  addons/ekco/0.28.11/rbac.yaml
  addons/ekco/0.28.11/reboot/ekco-reboot-containerd.service
  addons/ekco/0.28.11/reboot/ekco-reboot.service
  addons/ekco/0.28.11/reboot/shutdown.sh
  addons/ekco/0.28.11/reboot/startup.sh
  addons/ekco/0.28.11/regen-cert-pod.yaml
  addons/ekco/0.28.11/rolebinding-kotsadm.yaml
  addons/ekco/0.28.11/rolebinding-minio.yaml
  addons/ekco/0.28.11/rolebinding-rook.yaml
  addons/ekco/0.28.11/rolebinding.yaml
  addons/ekco/0.28.11/rotate-certs-rbac.yaml
  addons/ekco/0.28.11/service.tmpl.yaml
  addons/ekco/0.28.11/storageclass-scaling.yaml
  web/src/installers/versions.js
Labels: automated-pr, type::chore, ekco, kurl::type::feature
