Repository replicatedhq/kURL, pull requests merged in 2025-05, with the labels that each got.

#5661 fix(rook): correct ceph toolbox image
  addons/rook/1.16.3/crds.yaml
  addons/rook/1.16.3/monitoring/kustomization.yaml
  addons/rook/1.16.3/operator/toolbox.yaml
  addons/rook/1.16.4/crds.yaml
  addons/rook/1.16.4/operator/toolbox.yaml
  addons/rook/1.16.5/crds.yaml
  addons/rook/1.16.5/operator/toolbox.yaml
  addons/rook/1.16.6/crds.yaml
  addons/rook/1.16.6/operator/toolbox.yaml
  addons/rook/template/generate.sh
Labels: type::bug, bug::normal

#5649 Automated Rook version update 1.17.1
  addons/rook/1.17.1/Manifest
  addons/rook/1.17.1/cluster/cephfs/cephfs-storageclass.yaml
  addons/rook/1.17.1/cluster/cephfs/filesystem.yaml
  addons/rook/1.17.1/cluster/cephfs/patches/cephfs-storageclass.yaml
  addons/rook/1.17.1/cluster/cephfs/patches/filesystem-singlenode.yaml
  addons/rook/1.17.1/cluster/cephfs/patches/tmpl-filesystem-Json6902.yaml
  addons/rook/1.17.1/cluster/cephfs/patches/tmpl-filesystem.yaml
  addons/rook/1.17.1/cluster/cluster.yaml
  addons/rook/1.17.1/cluster/kustomization.yaml
  addons/rook/1.17.1/cluster/object-user.yaml
  addons/rook/1.17.1/cluster/object.yaml
  addons/rook/1.17.1/cluster/patches/ceph-cluster-tolerate.yaml
  addons/rook/1.17.1/cluster/patches/cluster-nodes.tmpl.yaml
  addons/rook/1.17.1/cluster/patches/object-Json6902.yaml
  addons/rook/1.17.1/cluster/patches/tmpl-cluster.yaml
  addons/rook/1.17.1/cluster/patches/tmpl-object.yaml
  addons/rook/1.17.1/cluster/patches/tmpl-rbd-storageclass.yaml
  addons/rook/1.17.1/cluster/tmpl-rbd-storageclass.yaml
  addons/rook/1.17.1/crds.yaml
  addons/rook/1.17.1/host-preflight.yaml
  addons/rook/1.17.1/install.sh
  addons/rook/1.17.1/monitoring/ceph-cluster-dashboard.yaml
  addons/rook/1.17.1/monitoring/kustomization.yaml
  addons/rook/1.17.1/monitoring/rook-ceph-servicemonitor.yaml
  addons/rook/1.17.1/operator/cluster-rbac.yaml
  addons/rook/1.17.1/operator/clusterrole.yaml
  addons/rook/1.17.1/operator/clusterrolebinding.yaml
  addons/rook/1.17.1/operator/configmap-rook-config-override.yaml
  addons/rook/1.17.1/operator/configmap.yaml
  addons/rook/1.17.1/operator/deployment.yaml
  addons/rook/1.17.1/operator/kustomization.yaml
  addons/rook/1.17.1/operator/namespace.yaml
  addons/rook/1.17.1/operator/patches/deployment-privileged.yaml
  addons/rook/1.17.1/operator/patches/deployment-tolerations.yaml
  addons/rook/1.17.1/operator/role.yaml
  addons/rook/1.17.1/operator/rolebinding.yaml
  addons/rook/1.17.1/operator/securityContextConstraints.yaml
  addons/rook/1.17.1/operator/serviceaccount.yaml
  addons/rook/1.17.1/operator/toolbox.yaml
  hack/testdata/manifest/clean
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, rook, type::chore, kurl::type::feature

#5651 Automated Kubernetes version update 1.32.4 1.31.8 1.30.12 1.29.15
  hack/testdata/manifest/clean
  packages/kubernetes/1.30.12/Manifest
  packages/kubernetes/1.30.12/conformance/Manifest
  packages/kubernetes/1.31.8/Manifest
  packages/kubernetes/1.31.8/conformance/Manifest
  packages/kubernetes/1.32.4/Manifest
  packages/kubernetes/1.32.4/conformance/Manifest
  scripts/Manifest
  web/src/installers/versions.js
Labels: automated-pr, kubernetes, type::chore, kurl::type::feature
